---
version: 2
interactions:
- id: 0
  request:
    host: api.osv.dev
    body: "{\"queries\":[{\"package\":{\"name\":\"ansi-html\",\"ecosystem\":\"npm\"},\"version\":\"0.0.1\"}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.osv.dev/v1/querybatch
    method: POST
  response:
    body: "{\"results\":[{\"vulns\":[{\"id\":\"GHSA-whgm-jr23-g3j9\",\"modified\":\"2023-11-08T04:05:08.868477Z\"}]}]}"
    headers:
      Content-Type:
      - application/json
      Grpc-Accept-Encoding:
      - identity, deflate, gzip
      Grpc-Message:
      - ""
      Grpc-Status:
      - "0"
      X-Cloud-Trace-Context:
      - c6d1271b02ac3c03100ff0570908d3a5/13206511904635817765
    status: 200 OK
    code: 200
    duration: 1.200273186s
[...]
- id: 6
  request:
    host: api.osv.dev
    headers:
    url: https://api.osv.dev/v1/vulns/GHSA-whgm-jr23-g3j9
    method: GET
  response:
    body: "{\"id\":\"GHSA-whgm-jr23-g3j9\",\"summary\":\"Uncontrolled Resource Consumption in ansi-html\",\"details\":\"This affects all versions of package ansi-html. If an attacker provides a malicious string, it will get stuck processing the input for an extremely long time.\",\"aliases\":[\"CVE-2021-23424\"],\"modified\":\"2023-11-08T04:05:08.868477Z\",\"published\":\"2021-09-02T17:15:24Z\",\"database_specific\":{\"github_reviewed\":true,\"severity\":\"HIGH\",\"github_reviewed_at\":\"2021-08-26T14:50:45Z\",\"nvd_published_at\":\"2021-08-18T17:15:00Z\",\"cwe_ids\":[\"CWE-400\"]},\"references\":[{\"type\":\"WEB\",\"url\":\"https://github.com/ioet/time-tracker-ui/security/advisories/GHSA-4fjc-8q3h-8r69\"},{\"type\":\"ADVISORY\",\"url\":\"https://nvd.nist.gov/vuln/detail/CVE-2021-23424\"},{\"type\":\"WEB\",\"url\":\"https://github.com/Tjatse/ansi-html/issues/19\"},{\"type\":\"WEB\",\"url\":\"https://github.com/Tjatse/ansi-html/commit/8142b25bca3133ea060bcc1889277dc482327a63\"},{\"type\":\"PACKAGE\",\"url\":\"https://github.com/Tjatse/ansi-html\"},{\"type\":\"WEB\",\"url\":\"https://snyk.io/vuln/SNYK-JAVA-ORGWEBJARSNPM-1567198\"},{\"type\":\"WEB\",\"url\":\"https://snyk.io/vuln/SNYK-JS-ANSIHTML-1296849\"}],\"affected\":[{\"package\":{\"name\":\"ansi-html\",\"ecosystem\":\"npm\",\"purl\":\"pkg:npm/ansi-html\"},\"ranges\":[{\"type\":\"SEMVER\",\"events\":[{\"introduced\":\"0\"},{\"fixed\":\"0.0.8\"}]}],\"database_specific\":{\"source\":\"https://github.com/github/advisory-database/blob/main/advisories/github-reviewed/2021/09/GHSA-whgm-jr23-g3j9/GHSA-whgm-jr23-g3j9.json\"}}],\"schema_version\":\"1.7.3\",\"severity\":[{\"type\":\"CVSS_V3\",\"score\":\"CVSS:3.1/AV:N/AC:L/PR:N/UI:N/S:U/C:N/I:N/A:H\"}]}"
    headers:
      Content-Type:
      - application/json
      Grpc-Accept-Encoding:
      - identity, deflate, gzip
      Grpc-Message:
      - ""
      Grpc-Status:
      - "0"
      X-Cloud-Trace-Context:
      - 17a60a537b1a9641100ff0570908db07/8993965785843404960
    status: 200 OK
    code: 200
    duration: 860.488659ms
[...]
- id: 8
  request:
    host: api.osv.dev
    headers:
    url: https://api.osv.dev/v1/vulns/CVE-2025-26519
    method: GET
  response:
    body: "{\"id\":\"CVE-2025-26519\",\"details\":\"musl libc 0.9.13 through 1.2.5 before 1.2.6 has an out-of-bounds write vulnerability when an attacker can trigger iconv conversion of untrusted EUC-KR text to UTF-8.\",\"modified\":\"2025-08-05T20:57:02.403959Z\",\"published\":\"2025-02-14T04:15:09Z\",\"references\":[{\"type\":\"WEB\",\"url\":\"https://git.musl-[...]
[...]
