.history/
.vscode/
.idea/
/dist/
/osv-scanner
/temp
/coverage.out
/coverage.html
*.tar
*.pprof
.go-version
node_modules

osv-scalibr-portal

# we don't want to check in this file as it's very very large
/internal/semantic/testdata/redhat-versions-generated.txt
cmd/osv-scanner/scan/source/testdata/artifact/javareach_test.jar
