.history/
.vscode/
.idea/
/dist/
/osv-scanner
/coverage.out
/coverage.html
*.tar
*.pprof
.go-version
node_modules

# we don't want to check in this file as it's very very large
/internal/semantic/fixtures/redhat-versions-generated.txt
