<div id="summary-section">
  <div id="filter-section">
    {{ if .IsContainerScanning }}
    <div class="filter-container">
      <label for="layer-filter">Layer<br></label>
      <div id="layer-filter" class="filter" onclick="toggleFilter('layer')">
        <p value="all">All layers ({{ .HTMLVulnCount.Called }})</p>
        <div class="filter-icon">
          <i class="material-icons">keyboard_arrow_down</i>
        </div>
      </div>
      <div id="layer-filter-option-container" class="filter-option-container">
        <div value="all" class="filter-option layer-filter-option">
          <p>All layers</p>
          {{ template "severity_summary_template.html" .HTMLVulnCount }}
        </div>
        {{ range .AllLayers }}
        <div value="{{ .LayerID}}" class="filter-option layer-filter-option">
          <p>{{ .Index }} {{ .LayerCommand }}</p>
          {{ template "severity_summary_template.html".Count }}
        </div>
        {{ end }}
      </div>
    </div>
    {{ end }}

    <div class="filter-container">
      <label for="type-filter">Vulnerability type<br></label>
      <div id="type-filter" class="filter" onclick="toggleFilter('type')">
        <p value="All types" class="filter-selected">All types ({{ .VulnTypeCount.All }})</p>
        <div class="filter-icon">
          <i class="material-icons">keyboard_arrow_down</i>
        </div>
      </div>
      <div id="type-filter-option-container" class="filter-option-container">
        {{ if .IsContainerScanning }}
        <div class="filter-option">
          <input type="checkbox" checked id="all-type-checkbox">
          <label for="all-type-checkbox">All types ({{ .VulnTypeCount.All }})</label>
        </div>
        {{ end }}
        <div class="filter-option">
          <input type="checkbox" checked id="project-type-checkbox">
          <label for="project-type-checkbox"> Project Vulnerabilities ({{ .VulnTypeCount.Project }})</label>
        </div>
        {{ if .IsContainerScanning }}
        <div class="filter-option">
          <input type="checkbox" checked id="os-type-checkbox">
          <label for="os-type-checkbox"> Operating system vulnerabilities ({{ .VulnTypeCount.OS }})</label>
        </div>
        {{ end }}
        <div class="filter-option">
          <input type="checkbox" id="uncalled-type-checkbox">
          <label for="uncalled-type-checkbox">Uncalled/Unimportant ({{ .VulnTypeCount.Uncalled }})</label>
        </div>
      </div>
    </div>
  </div>


  <div>
    <label>Overall Severity</label>
    <div id="severity-section">
      <div id="critical-long" class="severity-long">
        <p class="critical">{{ .HTMLVulnCount.Critical }} Critical</p>
      </div>
      <div id="high-long" class="severity-long">
        <p class="high">{{ .HTMLVulnCount.High }} High</p>
      </div>
      <div id="medium-long" class="severity-long">
        <p class="medium">{{ .HTMLVulnCount.Medium }} Medium</p>
      </div>
      <div id="low-long" class="severity-long">
        <p class="low">{{ .HTMLVulnCount.Low }} Low</p>
      </div>
      <div id="unknow-long" class="severity-long">
        <p class="unknown">{{ .HTMLVulnCount.Unknown }} Unknown</p>
      </div>
    </div>
  </div>


</div>
