<table class="vuln-table">
  <tr>
    <th></th>
    <th>Package</th>
    <th>Installed version</th>
    <th>Fixed available</th>
    <th>Vulnerability Count</th>
  </tr>
  {{ range $rowIndex, $element := . }}
  {{ if eq (len $element.CalledVulns) 0 }}
  {{ continue }}
  {{ end }}

  {{ $index := uniqueID }}
  <tr class='vuln-tr' id="vuln-tr-{{ $index }}">
    <td class="icon-td">
      <div class="expand-icon" onclick="showPackageDetails('{{ $index }}')">
        <i class="material-icons">play_arrow</i>
      </div>
    </td>
    <td>{{ $element.Name }}</td>
    <td>{{ $element.InstalledVersion }}</td>
    <td>
      {{ if ne $element.HTMLVulnCount.UnFixed 0 }}
      {{ if eq $element.HTMLVulnCount.Fixed 0}}
      <p class="fixable-tag no-fix">No fix available</p>
      {{ else }}
      <p class="fixable-tag has-fix">Partial fixes available ({{ $element.HTMLVulnCount.Fixed }}/{{
        $element.HTMLVulnCount.Called }})</p>
      {{ end }}
      {{ else }}
      <p class="fixable-tag has-fix">Fix available</p>
      {{ end }}
    </td>
    <td>
      {{ template "severity_summary_template.html" $element.HTMLVulnCount }}
    </td>
  </tr>
  <tr>
    <td colspan="100%">
      <div id="vuln-details-{{ $index }}" class="vuln-details">
        <p><span class="package-detail-title">Layer Command:</span> {{ $element.HTMLPackageDetail.LayerCommand }}</p>
        <p><span class="package-detail-title">Layer ID:</span> {{ $element.HTMLPackageDetail.LayerID }}</p>
        <p><span class="package-detail-title">In Base Image:</span> {{ $element.HTMLPackageDetail.InBaseImage }}</p>
        {{ template "vuln_table_template.html" $element }}
      </div>
    </td>
  </tr>
  {{ end }}
</table>
