<table class="vuln-table">
  <tr>
    <th></th>
    <th>Package</th>
    <th>Installed version</th>
    <th>
      <div class="tooltip">
        <p>Fix available</p>
        <span class="tooltiptext">Fix available indicates whether a patch or update exists to address the
          vulnerabilities found in the corresponding package.</span>
      </div>
    </th>
    <th>
      <div class="tooltip">
        <p>Vulnerability count</p>
        <span class="tooltiptext">Vulnerability count shows the number of vulnerabilities found in the package, counted
          by each severity level.</span>
      </div>
    </th>
  </tr>
  {{ range $rowIndex, $element := . }}
  {{ $index := uniqueID }}
  <tr class="table-tr package-tr {{if $element.LayerDetail }}has-layer-info"
    data-layer="{{ $element.LayerDetail.LayerInfo.LayerMetadata.DiffID }}{{ end }}" id="table-tr-{{ $index }}" onclick="showPackageDetails('{{ $index }}')">
    <td class="icon-td">
      <div class="expand-icon">
        <i class="material-icons">play_arrow</i>
      </div>
    </td>
    <td {{ if eq $element.VulnCount.AnalysisCount.Regular 0 }}class="uncalled-text" {{ end }}>{{ $element.Name }}</td>
    <td {{ if eq $element.VulnCount.AnalysisCount.Regular 0 }}class="uncalled-text" {{ end }}>{{ $element.InstalledVersion }}</td>
    <td>
      {{ if ne $element.VulnCount.FixableCount.UnFixed 0 }}
        {{ if eq $element.VulnCount.FixableCount.Fixed 0}}
          <p class="fixable-tag no-fix">No fix available</p>
          {{ else }}
          <div class="tooltip">
            <p class="fixable-tag has-fix">Partial fixes available</p>
            <span class="tooltiptext">Upgrading the package will fix {{ $element.VulnCount.FixableCount.Fixed }} out of {{
              $element.VulnCount.AnalysisCount.Regular }} vulnerabilities</span>
          </div>
        {{ end }}
      {{ else }}
      <p class="fixable-tag has-fix">Fix available</p>
      {{ end }}
    </td>
    <td>
      {{ if ne $element.VulnCount.AnalysisCount.Regular 0 }}
      {{ template "severity_summary_template.gohtml" $element.VulnCount.SeverityCount }}
      {{ else }}
      <p class="uncalled-text">{{ getFilteredVulnReasons $element.HiddenVulns }}</p>
      {{ end }}
    </td>
  </tr>
  <tr class="table-tr-details">
    <td colspan="100%">
      <div id="table-tr-{{ $index }}-details" class="package-details hide-block">
        {{ if and $element.LayerDetail.LayerInfo.LayerMetadata (not (eq $element.LayerDetail.LayerInfo.LayerMetadata.Command "")) }}
        {{ $index := $element.LayerDetail.LayerIndex }}
        {{ $diffID := $element.LayerDetail.LayerInfo.LayerMetadata.DiffID }}
        {{ $baseImageIndex := $element.LayerDetail.LayerInfo.LayerMetadata.BaseImageIndex }}
        {{ $originalCommand := $element.LayerDetail.LayerInfo.LayerMetadata.Command }}
        {{ $commandSet := formatLayerCommand $originalCommand }}
        {{ $command := index $commandSet 0 }}
        {{ $commandDetail := index $commandSet 1 }}
        {{ $longCommand := false }}
        {{ if gt (len $command) 109 }}
        {{ $longCommand = true }}
        {{ end }}
        {{ $binaries := formatSlice $element.OSPackageNames }}
        {{ if not (eq $binaries "") }}
        <p><span class="package-detail-title">Installed binaries:</span> {{ $binaries }}</p>
        {{ end }}
        <div class="layer-command-container">
          {{ if $longCommand }}
          <p class="package-detail-title">Introduced in layer #{{ $index }}:&nbsp;</p>
          <div class="tooltip">
            <p class="layer-command">{{ $command }}</p>
            <span class="tooltiptext layer-tooltiptext">{{ $originalCommand }}</span>
          </div>
          {{ else if ne $commandDetail "" }}
          <p class="package-detail-title">Introduced in layer #{{ $index }}:&nbsp;</p>
          <div class="tooltip">
            <p class="layer-command">{{ $command }}</p>
            <span class="tooltiptext layer-tooltiptext">{{ $commandDetail }}</span>
          </div>
          {{ else }}
          <p class="package-detail-title">Introduced in layer #{{ $index }}:&nbsp;</p>
          <p class="layer-command">{{ $command }}</p>
          {{ end }}
        </div>
        <p><span class="package-detail-title">In base image:</span> {{ if eq $baseImageIndex 0 }} False {{ else }} {{ getBaseImageName $element.LayerDetail.BaseImageInfo }}{{ end }}</p>
        {{ end }}
        {{ template "vuln_table_template.gohtml" $element }}
      </div>

    </td>
  </tr>
  {{ end }}
</table>
