<table class="vuln-table">
  <tr>
    <th></th>
    <th>Package</th>
    <th>Installed version</th>
    <th>Fixed available</th>
    <th>Vulnerability Count</th>
  </tr>
  {{ range $rowIndex, $element := . }}
  {{ $index := uniqueID }}
  <tr class="table-tr package-tr {{if $element.HTMLPackageDetail }}has-layer-info" 
  data-layer="{{ $element.HTMLPackageDetail.LayerID }}{{ end }}"
  id="table-tr-{{ $index }}">
    <td class="icon-td">
      <div class="expand-icon" onclick="showPackageDetails('{{ $index }}')">
        <i class="material-icons">play_arrow</i>
      </div>
    </td>
    <td>{{ $element.Name }}</td>
    <td>{{ $element.InstalledVersion }}</td>
    <td>
      {{ if ne $element.HTMLVulnCount.UnFixed 0 }}
      {{ if eq $element.HTMLVulnCount.Fixed 0}}
      <p class="fixable-tag no-fix">No fix available</p>
      {{ else }}
      <p class="fixable-tag has-fix">Partial fixes available ({{ $element.HTMLVulnCount.Fixed }}/{{
        $element.HTMLVulnCount.Called }})</p>
      {{ end }}
      {{ else }}
      <p class="fixable-tag has-fix">Fix available</p>
      {{ end }}
    </td>
    <td>
      {{ if ne $element.HTMLVulnCount.Called 0 }}
      {{ template "severity_summary_template.html" $element.HTMLVulnCount }}
      {{ end }}
    </td>
  </tr>
  <tr>
    <td colspan="100%">
      <div id="table-tr-{{ $index }}-details" class="package-details">
        {{ if and $element.HTMLPackageDetail (not (eq $element.HTMLPackageDetail.LayerID "")) }}
          <p><span class="package-detail-title">Layer Command:</span> {{ $element.HTMLPackageDetail.LayerCommand }}</p>
          <p><span class="package-detail-title">Layer ID:</span> {{ $element.HTMLPackageDetail.LayerID }}</p>
          <p><span class="package-detail-title">In Base Image:</span> {{ $element.HTMLPackageDetail.InBaseImage }}</p>
        {{ end }}
        {{ template "vuln_table_template.html" $element }}
      </div>
    </td>
  </tr>
  {{ end }}
</table>
