<!doctype html>
<html>

<head>
  <title>Vulnerability Scan Report</title>
  <link rel="icon" href="https://google.github.io/osv.dev/assets/icon.png" type="image/x-icon" />
  <link href='https://fonts.googleapis.com/css?family=Overpass' rel='stylesheet'>
  <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  {{ template "style.html" }}
</head>

<body>
  {{ template "script.html" }}
  <div class="container">
    <header>
      <img src="https://osv.dev/static/img/logo.png" alt="OSV-Scanner Logo" class="logo" />
      <div class="vl"></div>
      <h1>Open Source Vulnerabilities</h1>
    </header>

    <div id="tab-switch">
      <div id="summary-tab-button" class="tab-switch-button tab-switch-button-selected"
        onclick="openTab('summary-tab')">
        <div class="tab-button-text-container">
          <p>Scanning summary</p>
          <div class="tab-switch-button-border"></div>
        </div>
      </div>
    </div>


    <div id="tabs">
      <div id="summary-tab" class="tab">
        {{ template "filter_template.html" .}}

        <div class="search-box">
          <div class="search-icon">
            <i class="material-icons">search</i>
          </div>
          <input type="text" id="vuln-search" placeholder="Search vulnerability ID...">
        </div>

        <div id="vuln-tab" class="view-tab">
          {{template "package_view_template.html" .EcosystemResults}}
        </div>
      </div>
    </div>

  </div>
</body>

</html>
