<div class="severity-count-summary">
  <div id="critical-short" class="severity-short tooltip severity-short-first">
    <p class="critical">{{ .Critical }}</p>
    <span class="tooltiptext">Critical</span>
  </div>
  <div id="high-short" class="severity-short tooltip">
    <p class="high">{{ .High }}</p>
    <span class="tooltiptext">High</span>
  </div>
  <div id="medium-short" class="severity-short tooltip">
    <p class="medium">{{ .Medium }}</p>
    <span class="tooltiptext">Medium</span>
  </div>
  <div id="low-short" class="severity-short tooltip">
    <p class="low">{{ .Low }}</p>
    <span class="tooltiptext">Low</span>
  </div>
  <div id="unknown-short" class="severity-short tooltip severity-short-last">
    <p class="unknown">{{ .Unknown }}</p>
    <span class="tooltiptext">Unknown</span>
  </div>
</div>
