<table class="vuln-table">
  <tr>
    <th>Vulnerability ID</th>
    <th>Group IDs</th>
    <th>Fixed version</th>
    <th>Severity</th>
  </tr>
  {{ range $rowIndex, $element := . }}
  <tr class='vuln-tr' onclick="openVulnInNewTab('{{ $element.Summary.ID }}')">
    <td>{{ $element.Summary.ID }}</td>
    <td>{{ join $element.Detail.GroupIDs ", "}}</td>
    <td {{ if eq $element.Summary.FixedVersion "No fix available" }} class="warning" {{ end }}>{{
      $element.Summary.FixedVersion }}</td>
    <td>{{ $element.Summary.SeverityRating }}
      {{ if ne $element.Summary.SeverityRating "UNKNOWN" }}
      ({{$element.Summary.SeverityScore }})
      {{ end }}
    </td>
  </tr>
  {{ end }}
</table>
