{{$calledVulns := getAllVulns .PackageResults true}}
{{$uncalledVulns := getAllVulns .PackageResults false}}
{{ if ne .CalledPackageCount 0}}
{{template "vuln_table.gohtml" $calledVulns}}
{{ end }}

{{ if ne .UncalledPackageCount 0}}
<details class="uncalled">
  <summary>Show/Hide Uncalled vulnerabilities</summary>
  <div id="uncalled-details-{{ .Source }}">
    <h4>Uncalled vulnerabilities</h4>
    <p>
      Found {{ .UncalledPackageCount }} package(s) with issues,
      {{.HTMLVulnCount.Uncalled }} known vulnerabilities found.
    </p>
    {{template "vuln_table.gohtml" $uncalledVulns }}
  </div>
</details>
{{ end }}
