<table class="vuln-table">
  <tr>
    <th>ID</th>
    <th>package</th>
    <th>Installed version</th>
    <th>Fixed version</th>
    <th>Severity</th>
  </tr>
  {{ range $rowIndex, $element := . }}
  {{ $index := uniqueID}}
  <tr class='vuln-tr' id="vuln-tr-{{ $element.Summary.ID }}-{{ $rowIndex }}-{{ $index }}"
    onclick="showVulnDetails('{{ $element.Summary.ID }}-{{ $rowIndex }}-{{ $index }}')">
    <td><a href="https://osv.dev/{{ $element.Summary.ID }}">{{ $element.Summary.ID }}</a></td>
    <td>{{ $element.Summary.PackageName }}</td>
    <td>{{ $element.Summary.InstalledVersion }}</td>
    <td {{ if eq $element.Summary.FixedVersion "No fix available" }} class="warning" {{ end }}>{{
      $element.Summary.FixedVersion }}</td>
    <td>{{ $element.Summary.SeverityRating }} {{ if ne $element.Summary.SeverityRating "UNKNOWN" }}({{
      $element.Summary.SeverityScore }}){{ end }}</td>
  </tr>
  <tr>
    <td colspan="100%">
      <div id="vuln-details-{{ $element.Summary.ID }}-{{ $rowIndex }}-{{ $index }}" class="vuln-details">
        {{ range $detailIndex, $info := printImportantDetail $element.Detail}}
        <p><strong>{{ $info }}</strong></p>
        {{ end }}
        {{ range $detailIndex, $info := printVulnDetail $element.Detail}}
        <p>{{ $info }}</p>
        {{ end }}
      </div>
    </td>
  </tr>
  {{ end }}
</table>