<table class="inner-table">
  <tr>
    <th>Vulnerability ID</th>
    <th>Aliases / Upstream</th>
    <th>Fixed version</th>
    <th class="severity-cell">Severity</th>
    <th class="open-in-tab-cell"></th>
  </tr>
  {{ range $rowIndex, $element := .RegularVulns }}
    {{$args := buildVulnTableEntryArgument $element false}}
    {{template "vuln_table_entry_template.gohtml" $args}}
  {{ end }}

  {{ range $rowIndex, $element := .HiddenVulns }}
  {{ $index := uniqueID }}
    {{$args := buildVulnTableEntryArgument $element true}}
    {{template "vuln_table_entry_template.gohtml" $args}}
  {{ end }}
</table>
