// Code snippet colors
.highlight .c {
  color: #514e56;
  background: #f5f6fa;
} // comment //
.highlight .nb {
  color: #8f6b00;
} // name.builtin //
.highlight .nt {
  color: #2075b1;
} // name.tag //
.highlight .s1 {
  color: #207e74;
} // literal.string.single //
.highlight .k {
  color: #667500;
} // keyword //
.highlight .nn {
  color: #647373;
} // name.namespace //
.highlight .py {
  color: #647373;
} // name.property //
.highlight .c {
  color: #586e75;
} // comment //
.highlight .s {
  color: #207e74;
} // literal.string //
.highlight .s2 {
  color: #207e74;
} // literal.string.double //
.highlight .err {
  color: #647373;
  background: #f5f6fa;
} // error //
.highlight .p {
  color: #647373;
} // punctuation //
.highlight .nl {
  color: #514e56;
} // name.label //
.highlight .w {
  color: #647373;
} // text.whitespace //
