# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: test
description: "Runs go tests"

inputs:
  codecov_token:
    description: "Token for uploading coverage reports to Codecov"
    required: true

runs:
  using: composite
  steps:
    - name: Run go test
      shell: bash
      env:
        TEST_ACCEPTANCE: true
      run: ./scripts/run_tests.sh
    - name: Upload coverage to Codecov
      # codecov is currently being flakey on macOS
      # https://github.com/codecov/codecov-action/issues/1416
      if: ${{ runner.os != 'macOS' }}
      uses: codecov/codecov-action@e28ff129e5465c2c0dcc6f003fc735cb6ae0c673 # v4.5.0
      with:
        token: ${{ inputs.codecov_token }}
        fail_ci_if_error: true
