---
version: 2
interactions:
- id: 0
  request:
    host: api.osv.dev
    body: "{\"queries\":[{\"package\":{\"ecosystem\":\"Packagist\",\"name\":\"sentry/sdk\"},\"version\":\"2.0.4\"},{\"package\":{\"ecosystem\":\"npm\",\"name\":\"balanced-match\"},\"version\":\"1.0.2\"}]}"
    headers:
      Content-Type:
      - application/json
      X-Test-Name:
      - Test_run_SubCommands/scan_with_a_flag
    url: https://api.osv.dev/v1/querybatch
    method: POST
  response:
    body: "{\"results\":[{},{}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 0s
[...]
