---
version: 2
interactions:
  - id: 0
    request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "version": "3.4.3-r1",
              "package": {
                "name": "alpine-baselayout",
                "ecosystem": "Alpine:v3.18"
              }
            },
            {
              "version": "3.4.3-r1",
              "package": {
                "name": "alpine-baselayout",
                "ecosystem": "Alpine:v3.18"
              }
            },
            {
              "version": "2.4-r1",
              "package": {
                "name": "alpine-keys",
                "ecosystem": "Alpine:v3.18"
              }
            },
            {
              "version": "2.14.4-r0",
             [...]
