---
version: 2
interactions:
- id: 0
  request:
    host: api.osv.dev
    body: "{\"queries\":[{\"package\":{\"name\":\"alpine-baselayout\",\"ecosystem\":\"Alpine:v3.18\"},\"version\":\"3.1.2-r0\"},{\"package\":{\"name\":\"alpine-keys\",\"ecosystem\":\"Alpine:v3.18\"},\"version\":\"2.1-r2\"},{\"package\":{\"name\":\"apk-tools\",\"ecosystem\":\"Alpine:v3.18\"},\"version\":\"2.10.6-r0\"},{\"package\":{\"name\":\"busybox\",\"ecosystem\":\"Alpine:v3.18\"},\"version\":\"1.30.1-r5\"},{\"package\":{\"name\":\"ca-certificates\",\"ecosystem\":\"Alpine:v3.18\"},\"version\":\"20191127-r2\"},{\"package\":{\"name\":\"libc-dev\",\"ecosystem\":\"Alpine:v3.18\"},\"version\":\"0.7.1-r0\"},{\"package\":{\"name\":\"openssl\",\"ecosystem\":\"Alpine:v3.18\"},\"version\":\"1.1.1k-r0\"},{\"package\":{\"name\":\"openssl\",\"ecosystem\":\"Alpine:v3.18\"},\"version\":\"1.1.1k-r0\"},{\"package\":{\"name\":\"libtls-standalone\",\"ecosystem\":\"Alpine:v3.18\"},\"version\":\"2.9.1-r0\"},{\"package\":{\"name\":\"musl\",\"ecosystem\":\"Alpine:v3.18\"},\"version\":\"1.1.22-r4\"},{\"package\":{\"name\":\"musl\",\"ecosystem\":\"Alpine:v3.18\"},\"version\":\"1.1.22-r4\"},{\"package\":{\"name\":\"pax-utils\",\"ecosystem\":\"Alpine:v3.18\"},\"version\":\"1.2.3-r0\"},{\"package\":{\"name\":\"busybox\",\"ecosystem\":\"Alpine:v3.18\"},\"version\":\"1.30.1-r5\"},{\"package\":{\"name\":\"zlib\",\"ecosystem\":\"Alpine:v3.18\"},\"version\":\"1.2.11-r1\"}]}"
    headers:
      Content-Type:
      - application/json
      X-Test-Name:
      - TestCommand_OCIImage/Alpine_3.10_image_tar_with_3.18_version_file
    url: https://api.osv.dev/v1/querybatch
    method: POST
  response:
    body: "{\"results\":[{},{},{},{},{},{},{\"vulns\":[{\"id\":\"CVE-2021-3711\",\"modified\":\"2025-07-29T10:00:57.959831Z\"},{\"id\":\"CVE-2021-3712\",\"modified\":\"2025-07-29T10:00:59.818820Z\"},{\"id\":\"CVE-2021-4044\",\"modified\":\"2025-07-29T10:06:23.862974Z\"},{\"id\":\"CVE-2022-0778\",\"modified\":\"2025-07-29T15:50:20.422469Z\"},{\"id\":\"CVE-2022-1343\",\"modified\":\"2025-07-29T10:14:55.358401Z\"},{\"id\":\"CVE-2022-1434\",\"modified\":\"2025-07-29T10:16:44.349666Z\"},{\"id\":\"CVE-2022-1473\",\"modified\":\"2025-07-29T10:16:44.919420Z\"},{\"id\":\"CVE-2022-2097\",\"modifie[...]
[...]
