---
version: 2
interactions:
  - request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "Alpine:v3.22",
                "name": "zlib"
              },
              "version": "1.2.12-r1"
            }
          ]
        }
      headers:
        Content-Type:
          - application/json
        X-Test-Name:
          - TestCommand_ExplicitExtractors_WithoutDefaults/add_extractors
      url: https://api.osv.dev/v1/querybatch
      method: POST
    response:
      body: |
        {
          "results": [
            {
              "vulns": [
                {
                  "id": "ALPINE-CVE-2022-37434",
                  "modified": "2026-06-15T18:18:09.521511Z"
                },
                {
                  "id": "ALPINE-CVE-2026-22184",
                  "modified": "2026-07-14T05:30:07.069428Z"
                },
                {
                  "id": "ALPINE-CVE-2026-27171",
                  "modified": "2026-07-08T04:31:57.846862Z"
                }
              ]
            }
          ]
        }
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: 0s
