---
version: 2
interactions:
  - request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "Alpine:v3.19",
                "name": "alpine-baselayout"
              },
              "version": "3.4.3-r2"
            },
            {
              "package": {
                "ecosystem": "Alpine:v3.19",
                "name": "alpine-baselayout"
              },
              "version": "3.4.3-r2"
            },
            {
              "package": {
                "ecosystem": "Alpine:v3.19",
                "name": "alpine-keys"
              },
              "version": "2.4-r1"
            },
            {
         [...]
