---
version: 2
interactions:
  - request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "Alpine:v3.18",
                "name": "alpine-baselayout"
              },
              "version": "3.1.2-r0"
            },
            {
              "package": {
                "ecosystem": "Alpine:v3.18",
                "name": "alpine-keys"
              },
              "version": "2.1-r2"
            },
            {
              "package": {
                "ecosystem": "Alpine:v3.18",
                "name": "apk-tools"
              },
              "version": "2.10.6-r0"
            },
            {
              "p[...]
[...]
  - request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "GIT",
                "name": "https://github.com/davegamble/cjson"
              },
              "version": "1.7.17"
            }
          ]
        }
      headers:
        Content-Type:
          - application/json
        X-Test-Name:
          - TestCommand_OCIImage/scanning_ubuntu_image_with_homebrew_extractor
      url: https://api.osv.dev/v1/querybatch
      method: POST
    response:
      body: |
        {
          "results": [
            {
              "vulns": [
                {
                  "id": "CVE-2023-53154",
                  "modified": "2026-03-14T12:23:16.581554Z"
                },
                {
                  "id": "CVE-2024-31755",
                  "modified": "2026-04-16T04:31:52.195461Z"
                },
                {
                  "id": "CVE-2025-57052",
                  "modified": "2026-04-10T05:30:21.542728Z"
                }
              ]
            }
          ]
        }
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: 0s
