---
version: 2
interactions:
  - request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "GIT",
                "name": "https://github.com/davegamble/cjson"
              },
              "version": "1.7.17"
            }
          ]
        }
      headers:
        Content-Type:
          - application/json
      url: https://api.osv.dev/v1/querybatch
      method: POST
    response:
      body: |
        {
          "results": [
            {
              "vulns": [
                {
                  "id": "CVE-2023-53154",
                  "modified": "2026-07-15T01:49:00.910390Z"
                },
                {
                  "id": "CVE-2024-31755",
                  "modified": "2026-07-15T01:49:12.341839Z"
                },
                {
                  "id": "CVE-2025-57052",
                  "modified": "2026-07-15T01:49:08.744027Z"
                },
                {
                  "id": "CVE-2026-29036",
                  "modified": "2026-08-15T16:52:29.607072Z"
                },
                {
                  "id": "CVE-2026-67215",
                  "modified": "2026-08-12T03:51:14.499232Z"
                },
                {
                  "id": "CVE-2026-67216",
                  "modified": "2026-08-12T03:51:42.776342Z"
                },
                {
                  "id": "CVE-2026-67217",
                  "modified": "2026-08-12T03:51:18.748400Z"
                }
              ]
            }
          ]
        }
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: 0s
