---
version: 2
interactions:
- id: 0
  request:
    host: api.osv.dev
    body: "{\"queries\":[{\"version\":\"3.1.2-r0\", \"package\":{\"name\":\"alpine-baselayout\", \"ecosystem\":\"Alpine:v3.18\"}}, {\"version\":\"2.1-r2\", \"package\":{\"name\":\"alpine-keys\", \"ecosystem\":\"Alpine:v3.18\"}}, {\"version\":\"2.10.6-r0\", \"package\":{\"name\":\"apk-tools\", \"ecosystem\":\"Alpine:v3.18\"}}, {\"version\":\"1.30.1-r5\", \"package\":{\"name\":\"busybox\", \"ecosystem\":\"Alpine:v3.18\"}}, {\"version\":\"20191127-r2\", \"package\":{\"name\":\"ca-certificates\", \"ecosystem\":\"Alpine:v3.18\"}}, {\"version\":\"0.7.1-r0\", \"package\":{\"name\":\"libc-dev\", \"ecosystem\":\"Alpine:v3.18\"}}, {\"version\":\"1.1.1k-r0\", \"package\":{\"name\":\"openssl\", \"ecosystem\":\"Alpine:v3.18\"}}, {\"version\":\"1.1.1k-r0\", \"package\":{\"name\":\"openssl\", \"ecosystem\":\"Alpine:v3.18\"}}, {\"version\":\"2.9.1-r0\", \"package\":{\"name\":\"libtls-standalone\", \"ecosystem\":\"Alpine:v3.18\"}}, {\"version\":\"1.1.22-r4\", \"package\":{\"name\":\"musl\", \"ecosystem\":\"Alpine:v3.18\"}}, {\"version\":\"1.1.22-r4\", \"package\":{\"name\":\"musl\", \"ecosystem\":\"Alpine:v3.18\"}}, {\"version\":\"1.2.3-r0\", \"package\":{\"name\":\"pax-utils\", \"ecosystem\":\"Alpine:v3.18\"}}, {\"version\":\"1.30.1-r5\", \"package\":{\"name\":\"busybox\", \"ecosystem\":\"Alpine:v3.18\"}}, {\"version\":\"1.2.11-r1\", \"package\":{\"name\":\"zlib\", \"ecosystem\":\"Alpine:v3.18\"}}]}"
    headers:
      Content-Type:
      - application/json
      X-Test-Name:
      - TestCommand_OCIImage/Alpine_3.10_image_tar_with_3.18_version_file
    url: https://api.osv.dev/v1/querybatch
    method: POST
  response:
    body: "{\"results\":[{},{},{\"vulns\":[{\"id\":\"ALPINE-CVE-2021-30139\",\"modified\":\"2025-11-19T06:23:57.762519Z\"},{\"id\":\"ALPINE-CVE-2021-36159\",\"modified\":\"2025-11-19T06:24:01.223586Z\"}]},{\"vulns\":[{\"id\":\"ALPINE-CVE-2021-28831\",\"modified\":\"2025-11-19T06:18:58.945031Z\"},{\"id\":\"ALPINE-CVE-2021-42374\",\"modified\":\"2025-11-19T06:19:09.641521Z\"},{\"id\":\"ALPINE-CVE-2021-42375\",\"modified\":\"2025-11-19T06:19:09.513318Z\"},{\"id\":\"ALPINE-CVE-2021-42378\",\"modified\":\"2025-11-19T06:19:11.443342Z\"},{\"id\":\"ALPINE-CVE-2021-42379\",\"modified\":\"2025[...]
[...]
