---
version: 2
interactions:
  - id: 0
    request:
      host: api.osv.dev
      body: '{"queries":[{"package":{"ecosystem":"Alpine:v3.10","name":"alpine-baselayout"},"version":"3.1.2-r0"},{"package":{"ecosystem":"Alpine:v3.10","name":"alpine-keys"},"version":"2.1-r2"},{"package":{"ecosystem":"Alpine:v3.10","name":"apk-tools"},"version":"2.10.6-r0"},{"package":{"ecosystem":"Alpine:v3.10","name":"busybox"},"version":"1.30.1-r5"},{"package":{"ecosystem":"Alpine:v3.10","name":"ca-certificates"},"version":"20191127-r2"},{"package":{"ecosystem":"Alpine:v3.10","name":"libc-dev"},"version":"0.7.1-r0"},{"package":{"ecosystem":"Alpine:v3.10","name":"openssl"},"version":"1.1.1k-r0"},{"package":{"ecosystem":"Alpine:v3.10","name":"openssl"},"version":"1.1.1k-r0"},{"package":{"ecosystem":"Alpine:v3.10","name":"libtls-standalone"},"version":"2.9.1-r0"},{"package":{"ecosystem":"Alpine:v3.10","name":"musl"},"version":"1.1.22-r4"},{"package":{"ecosystem":"Alpine:v3.10","name":"musl"},"version":"1.1.22-r4"},{"package":{"ecosystem":"Alpine:v3.10","name":"pax-utils"},"version":"1.2.3-r0"},{"package":{"ecosystem":"Alpine:v3.10","name":"busybox"},"version":"1.30.1-r5"},{"package":{"ecosystem":"Alpine:v3.10","name":"zlib"},"version":"1.2.11-r1"},{"package":{"ecosystem":"Alpine","name":"zlib"},"version":"1.2.12-r1"}]}'
      headers:
        Content-Type:
          - application/json
        X-Test-Name:
          - TestCommand_ExplicitExtractors_WithDefaults/add_extractors
      url: https://api.osv.dev/v1/querybatch
      method: POST
    response:
      body: |
        {
          "results": [
            {},
            {},
            {
              "vulns": [
                {
                  "id": "ALPINE-CVE-2021-36159",
                  "modified": "2025-12-03T22:50:23.251262Z"
                }
              ]
            },
            {},
            {},
            {},
            {},
            {},
            {},
            {},
            {},
            {},
            {},
            {},
            {
              "vulns": [
                {
                  "id": "ALPINE-CVE-2022-37434",
                  "modified": "2025-12-03T22:50:43.469206Z"
                }
              ]
            }
          ]
        }
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: 0s
[...]
