---
version: 2
interactions:
  - id: 0
    request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "Alpine:v3.18",
                "name": "alpine-baselayout"
              },
              "version": "3.1.2-r0"
            },
            {
              "package": {
                "ecosystem": "Alpine:v3.18",
                "name": "alpine-keys"
              },
              "version": "2.1-r2"
            },
            {
              "package": {
                "ecosystem": "Alpine:v3.18",
                "name": "apk-tools"
              },
              "version": "2.10.6-r0"
            },
            {
              "p[...]
[...]
