---
version: 2
interactions:
  - request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "Ubuntu:26.04",
                "name": "base-files"
              },
              "version": "14ubuntu6"
            },
            {
              "package": {
                "ecosystem": "Ubuntu:26.04",
                "name": "bash"
              },
              "version": "5.3-2ubuntu1"
            },
            {
              "package": {
                "ecosystem": "Ubuntu:26.04",
                "name": "coreutils"
              },
              "version": "9.5-1ubuntu2+0.0.0~ubuntu25"
            },
            {
     [...]
