---
version: 2
interactions:
  - request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "Maven",
                "name": "org.apache.maven.wagon:wagon-http"
              },
              "version": "3.0.0"
            },
            {
              "package": {
                "ecosystem": "Maven",
                "name": "org.codehaus.plexus:plexus-utils"
              },
              "version": "3.0"
            },
            {
              "package": {
                "ecosystem": "Maven",
                "name": "org.apache.httpcomponents:httpclient"
              },
              "version": "4.0"
       [...]
[...]
