---
version: 2
interactions:
- id: 0
  request:
    host: api.osv.dev
    body: "{\"queries\":[{\"version\":\"2.0.4\",\"package\":{\"name\":\"sentry/sdk\",\"ecosystem\":\"Packagist\"}},{\"version\":\"0.0.8\",\"package\":{\"name\":\"ansi-html\",\"ecosystem\":\"npm\"}}]}"
    headers:
      Content-Type:
      - application/json
      X-Test-Name:
      - TestCommand_ExplicitExtractors_WithoutDefaults/scanning_directory_with_a_couple_of_specific_extractors_enabled_individually
    url: https://api.osv.dev/v1/querybatch
    method: POST
  response:
    body: "{\"results\":[{},{}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 0s
[...]
