---
version: 2
interactions:
  - id: 0
    request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "Hackage",
                "name": "AC-Angle"
              },
              "version": "1.0"
            },
            {
              "package": {
                "ecosystem": "Hackage",
                "name": "ALUT"
              },
              "version": "2.4.0.3"
            },
            {
              "package": {
                "ecosystem": "Hackage",
                "name": "ANum"
              },
              "version": "0.2.0.2"
            },
            {
              "package": {
                "ecosystem": "Hackage",
                "name": "Agda"
              },
              "version": "2.6.4.3"
            },
            {
              "package": {
                "ecosystem": "Hackage",
                "name": "Allure"
              },
              "version": "0.11.0.0"
            },
            {
              "package": {
                "ecosystem": "Hackage",
                "name": "biscuit-haskell"
              },
              "version": "0.3.0.0"
            }
          ]
        }
      headers:
        Content-Type:
          - application/json
        X-Test-Name:
          - TestCommand_MoreLockfiles/cabal.project.freeze
      url: https://api.osv.dev/v1/querybatch
      method: POST
    response:
      body: |
        {
          "results": [
            {},
            {},
            {},
            {},
            {},
            {
              "vulns": [
                {
                  "id": "HSEC-2024-0009",
                  "modified": "2025-11-14T18:15:43.110342Z"
                }
              ]
            }
          ]
        }
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: 0s
[...]
