---
version: 2
interactions:
  - request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "PyPI",
                "name": "django"
              },
              "version": "1.11.29"
            },
            {
              "package": {
                "ecosystem": "PyPI",
                "name": "flask"
              },
              "version": "1.0.0"
            },
            {
              "package": {
                "ecosystem": "PyPI",
                "name": "requests"
              },
              "version": "2.20.0"
            }
          ]
        }
      headers:
        Content-Type:
          - application/json
      url: https://api.osv.dev/v1/querybatch
      method: POST
    response:
      body: |
        {
          "results": [
            {
              "vulns": [
                {
                  "id": "GHSA-68w8-qjq3-2gfm",
                  "modified": "2024-09-20T15:46:52.557962Z"
                },
                {
                  "id": "GHSA-6w2r-r2m5-xq5w",
                  "modified": "2026-06-05T14:45:50.840275Z"
                },
                {
                  "id": "GHSA-7xr5-9hcq-chf9",
                  "modified": "2026-02-04T03:48:05.224740Z"
                },
                {
                  "id": "GHSA-8x94-hmjh-97hq",
                  "modified": "2026-02-04T02:45:55.690257Z"
                },
                {
[...]
