---
version: 2
interactions:
- id: 0
  request:
    host: api.osv.dev
    body: "{\"queries\":[{\"package\":{\"ecosystem\":\"npm\",\"name\":\"babel\"},\"version\":\"6.23.0\"},{\"package\":{\"ecosystem\":\"npm\",\"name\":\"human-signals\"},\"version\":\"5.0.0\"},{\"package\":{\"ecosystem\":\"npm\",\"name\":\"ms\"},\"version\":\"2.1.3\"},{\"package\":{\"ecosystem\":\"npm\",\"name\":\"type-fest\"},\"version\":\"4.26.1\"}]}"
    headers:
      Content-Type:
      - application/json
      X-Test-Name:
      - TestCommand_Licenses/Licenses_in_summary_mode_json
    url: https://api.osv.dev/v1/querybatch
    method: POST
  response:
    body: "{\"results\":[{},{},{},{}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 0s
[...]
- id: 8
  request:
    host: api.osv.dev
    body: "{\"queries\":[{\"package\":{\"ecosystem\":\"Packagist\",\"name\":\"league/flysystem\"},\"version\":\"1.0.8\"},{\"package\":{\"ecosystem\":\"Go\",\"name\":\"stdlib\"},\"version\":\"1.99.9\"},{\"package\":{\"ecosystem\":\"Go\",\"name\":\"toolchain\"},\"version\":\"1.99.9\"},{\"package\":{\"ecosystem\":\"RubyGems\",\"name\":\"ast\"},\"version\":\"2.4.2\"},{\"package\":{\"ecosystem\":\"Packagist\",\"name\":\"sentry/sdk\"},\"version\":\"2.0.4\"}]}"
    headers:
      Content-Type:
      - application/json
      X-Test-Name:
      - TestCommand_Licenses/Some_packages_with_ignored_licenses
    url: https://api.osv.dev/v1/querybatch
    method: POST
  response:
    body: "{\"results\":[{\"vulns\":[{\"id\":\"GHSA-9f46-5r25-5wfm\",\"modified\":\"2024-02-16T08:21:35.601880Z\"}]},{},{},{},{}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 0s
[...]
