---
version: 2
interactions:
  - request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "Go",
                "name": "github.com/gogo/protobuf"
              },
              "version": "1.3.1"
            },
            {
              "package": {
                "ecosystem": "Go",
                "name": "github.com/ipfs/go-bitfield"
              },
              "version": "1.0.0"
            },
            {
              "package": {
                "ecosystem": "Go",
                "name": "golang.org/x/image"
              },
              "version": "0.4.0"
            }
          ]
        }
      headers:
        Content-Type:
          - application/json
      url: https://api.osv.dev/v1/querybatch
      method: POST
    response:
      body: |
        {
          "results": [
            {
              "vulns": [
                {
                  "id": "GHSA-c3h9-896r-86jm",
                  "modified": "2026-02-04T02:43:17.273837Z"
                },
                {
                  "id": "GO-2021-0053",
                  "modified": "2026-02-04T03:28:45.369468Z"
                }
              ]
            },
            {
              "vulns": [
                {
                  "id": "GHSA-2h6c-j3gf-xp9r",
                  "modified": "2023-11-08T04:11:41.796349Z"
                },
                {
                  "id": "GO-2023-1558",
                  "modified": "2024-05-20T[...]
