---
version: 2
interactions:
  - request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "NuGet",
                "name": "AWSSDK.Core"
              },
              "version": "3.7.10.6"
            },
            {
              "package": {
                "ecosystem": "NuGet",
                "name": "Microsoft.Extensions.DependencyInjection"
              },
              "version": "6.0.0"
            },
            {
              "package": {
                "ecosystem": "NuGet",
                "name": "System.Linq.Dynamic.Core"
              },
              "version": "1.3.7"
            },
            {
              "package": {
                "ecosystem": "NuGet",
                "name": "TestLibrary"
              },
              "version": "1.0.0"
            }
          ]
        }
      headers:
        Content-Type:
          - application/json
      url: https://api.osv.dev/v1/querybatch
      method: POST
    response:
      body: |
        {
          "results": [
            {},
            {},
            {
              "vulns": [
                {
                  "id": "GHSA-4cv2-4hjh-77rx",
                  "modified": "2025-01-27T19:00:52.634361Z"
                }
              ]
            },
            {}
          ]
        }
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: 0s
