---
version: 2
interactions:
  - request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "commit": "4579d5538f06c5ef615a15bc67ebb9ac0523a973"
            },
            {
              "commit": "6fc3b89fcdb89b593402e0dabc13a7d7fd3f762d"
            },
            {
              "commit": "5d60bd2eb4642b64d00c845e5ca9f1ea41fd6db6"
            }
          ]
        }
      headers:
        Content-Type:
          - application/json
        X-Test-Name:
          - TestCommand_GithubActions/scanning_osv-scanner_custom_format
      url: https://api.osv.dev/v1/querybatch
      method: POST
    response:
      body: |
        {
          "results": [
            {},
            {
              "vulns": [
                {
                  "id": "CVE-2023-39137",
                  "modified": "2026-07-08T06:50:07.297910Z"
                },
                {
                  "id": "CVE-2023-39139",
                  "modified": "2026-07-08T06:50:09.043295Z"
                }
              ]
            },
            {}
          ]
        }
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: 0s
[...]
  - request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "GIT",
                "name": "github.com/openssl/openssl"
              },
              "version": "openssl-3.0.4"
            }
          ]
        }
      headers:
        Content-Type:
          - application/json
        X-Test-Name:
          - TestCommand_GithubActions/scanning_osv-scanner_custom_format_with_git_tag
      url: https://api.osv.dev/v1/querybatch
      method: POST
    response:
      body: |
        {
          "results": [
            {
              "vulns": [
                {
                  "id[...]
