---
version: 2
interactions:
  - request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "GIT",
                "name": "github.com/openssl/openssl"
              },
              "version": "openssl-3.0.4"
            }
          ]
        }
      headers:
        Content-Type:
          - application/json
      url: https://api.osv.dev/v1/querybatch
      method: POST
    response:
      body: |
        {
          "results": [
            {
              "vulns": [
                {
                  "id": "CVE-2022-2097",
                  "modified": "2026-07-15T02:03:28.831960Z"
                },
                {
                  "id": "CVE-2022-2274",
                  "modified": "2026-07-15T01:48:51.117150Z"
                },
                {
                  "id": "CVE-2022-3358",
                  "modified": "2026-07-15T01:48:50.557806Z"
                },
                {
                  "id": "CVE-2022-3602",
                  "modified": "2026-07-15T02:05:58.297238Z"
                },
                {
                  [...]
