---
version: 2
interactions:
  - request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "Alpine:v3.17",
                "name": "alpine-baselayout"
              },
              "version": "3.4.0-r0"
            },
            {
              "package": {
                "ecosystem": "Alpine:v3.17",
                "name": "alpine-baselayout-data"
              },
              "version": "3.4.0-r0"
            },
            {
              "package": {
                "ecosystem": "Alpine:v3.17",
                "name": "alpine-keys"
              },
              "version": "2.4-r1"
            },
            {
    [...]
[...]
