---
version: 2
interactions:
  - request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "Maven",
                "name": "org.apache.tomcat.embed:tomcat-embed-core"
              },
              "version": "10.1.24"
            }
          ]
        }
      headers:
        Content-Type:
          - application/json
      url: https://api.osv.dev/v1/querybatch
      method: POST
    response:
      body: |
        {
          "results": [
            {
              "vulns": [
                {
                  "id": "GHSA-23hv-mwm6-g8jf",
                  "modified": "2026-07-01T16:30:08.497253Z"
                },
                {
                  "id": "GHSA-25xr-qj8w-c4vf",
                  "modified": "2026-09-10T03:50:25.989583Z"
                },
                {
                  "id": "GHSA-27hp-xhwr-wr2m",
                  "modified": "2026-09-10T03:50:56.287801Z"
                },
                {
                  "id": "GHSA-3p2h-wqq4-wf4h",
                  "modified": "2026-09-10T03:50:57.424635Z"
                },
                {
[...]
