---
version: 2
interactions:
- id: 0
  request:
    host: api.osv.dev
    body: "{\"queries\":[{\"package\":{\"name\":\"ast\",\"ecosystem\":\"RubyGems\"},\"version\":\"2.4.2\"},{\"package\":{\"name\":\"balanced-match\",\"ecosystem\":\"npm\"},\"version\":\"1.0.2\"}]}"
    headers:
      Content-Type:
      - application/json
      X-Test-Name:
      - TestCommand/.gitignored_files
    url: https://api.osv.dev/v1/querybatch
    method: POST
  response:
    body: "{\"results\":[{},{}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 0s
[...]
- id: 6
  request:
    host: api.osv.dev
    body: "{\"queries\":[{\"package\":{\"name\":\"stdlib\",\"ecosystem\":\"Go\"},\"version\":\"1.21.7\"}]}"
    headers:
      Content-Type:
      - application/json
      X-Test-Name:
      - TestCommand/Go_project_with_an_overridden_go_version
    url: https://api.osv.dev/v1/querybatch
    method: POST
  response:
    body: "{\"results\":[{\"vulns\":[{\"id\":\"GO-2024-2598\",\"modified\":\"2024-10-22T05:29:10.013727Z\"},{\"id\":\"GO-2024-2599\",\"modified\":\"2024-10-22T05:29:04.026559Z\"},{\"id\":\"GO-2024-2600\",\"modified\":\"2024-10-22T05:29:00.945548Z\"},{\"id\":\"GO-2024-2609\",\"modified\":\"2024-10-22T05:29:09.769129Z\"},{\"id\":\"GO-2024-2610\",\"modified\":\"2024-10-22T05:29:02.767625Z\"},{\"id\":\"GO-2024-2687\",\"modified\":\"2025-03-31T16:24:22.897568Z\"},{\"id\":\"GO-2024-2887\",\"modified\":\"2024-10-22T05:28:58.836290Z\"},{\"id\":\"GO-2024-2888\",\"modified\":\"2024-10-22T05:28:58.470910Z\"},{\"id\":\"GO-2024-2963\",\"modified\":\"2024-07-15T22:26:59.152Z\"},{\"id\":\"GO-2024-3105\",\"modified\":\"2024-09-10T08:12:19.721080Z\"},{\"id\":\"GO-2024-3106\",\"modified\":\"2024-09-10T08:12:21.917879Z\"},{\"id\":\"GO-2024-3107\",\"modified\":\"2024-09-10T08:12:21.518996Z\"},{\"id\":\"GO-2025-3373\",\"modified\":\"2025-01-30T20:12:14.327943Z\"},{\"id\":\"GO-2025-3420\",\"modified\":\"2025-01-30T20:12:08.973745Z\"},{\"id\":\"GO-2025-3447\",\"modified\":\"2025-02-08T08:11:54.994992Z\"},{\"id\":\"GO-2025-3563\",\"modified\":\"2025-04-10T08:12:00.751863Z\"},{\"id\":\"GO-2025-3750\",\"modified\":\"2025-06-14T06:28:19.438040Z\"},{\"id\":\"GO-2025-3751\",\"modified\":\"2025-06-14T06:28:26.229496Z\"},{\"id\":\"GO-2025-3849\",\"modified\":\"2025-08-11T06:27:06.746398Z\"}]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 0s
[...]
- id: 12
  request:
    host: api.osv.dev
    body: "{\"queries\":[{\"commit\":\"4579d5538f06c5ef615a15bc67ebb9ac0523a973\",\"package\":{}},{\"commit\":\"9de7a0544457c6aba755ccb65abb41b0dc1db70d\",\"package\":{}},{\"commit\":\"5d60bd2eb4642b64d00c845e5ca9f1ea41fd6db6\",\"package\":{}},{\"package\":{\"name\":\"alpine-baselayout\",\"ecosystem\":\"Alpine\"},\"version\":\"3.4.0-r0\"},{\"package\":{\"name\":\"alpine-baselayout-data\",\"ecosystem\":\"Alpine\"},\"version\":\"3.4.0-r0\"},{\"package\":{\"name\":\"alpine-keys\",\"ecosystem\":\"Alpine\"},\"version\":\"2.4-r1\"},{\"pa[...]
[...]
