---
version: 2
interactions:
  - id: 0
    request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "Alpine",
                "name": "alpine-baselayout"
              },
              "version": "3.4.0-r0"
            },
            {
              "package": {
                "ecosystem": "Alpine",
                "name": "alpine-baselayout-data"
              },
              "version": "3.4.0-r0"
            },
            {
              "package": {
                "ecosystem": "Alpine",
                "name": "alpine-keys"
              },
              "version": "2.4-r1"
            },
            {
              "p[...]
[...]
