---
version: 2
interactions:
- id: 0
  request:
    host: api.osv.dev
    body: "{\"queries\":[{\"package\":{\"name\":\"babel\",\"ecosystem\":\"npm\"},\"version\":\"6.23.0\"},{\"package\":{\"name\":\"human-signals\",\"ecosystem\":\"npm\"},\"version\":\"5.0.0\"},{\"package\":{\"name\":\"ms\",\"ecosystem\":\"npm\"},\"version\":\"2.1.3\"},{\"package\":{\"name\":\"type-fest\",\"ecosystem\":\"npm\"},\"version\":\"4.26.1\"}]}"
    headers:
      Content-Type:
      - application/json
      X-Test-Name:
      - TestCommand_Licenses/Licenses_in_summary_mode_json
    url: https://api.osv.dev/v1/querybatch
    method: POST
  response:
    body: "{\"results\":[{},{},{},{}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 0s
[...]
- id: 11
  request:
    host: api.osv.dev
    body: "{\"queries\":[{\"package\":{\"name\":\"ansi-html\",\"ecosystem\":\"npm\"},\"version\":\"0.0.1\"}]}"
    headers:
      Content-Type:
      - application/json
      X-Test-Name:
      - TestCommand_Licenses/Vulnerabilities_and_all_license_violations_allowlisted
    url: https://api.osv.dev/v1/querybatch
    method: POST
  response:
    body: "{\"results\":[{\"vulns\":[{\"id\":\"GHSA-whgm-jr23-g3j9\",\"modified\":\"2023-11-08T04:05:08.868477Z\"}]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 0s
[...]
