---
version: 2
interactions:
  - request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "npm",
                "name": "ajv"
              },
              "version": "6.0.0"
            },
            {
              "package": {
                "ecosystem": "npm",
                "name": "ajv"
              },
              "version": "6.0.0"
            },
            {
              "package": {
                "ecosystem": "npm",
                "name": "ajv"
              },
              "version": "8.0.0"
            },
            {
              "package": {
                "ecosystem": "npm",
                "name": "ajv"
              },
              "version": "8.0.0"
            },
            {
              "package": {
                "ecosystem": "npm",
                "name": "ansi-html"
              },
              "version": "0.0.1"
            },
            {
              "package": {
                "ecosystem": "npm",
                "name": "ansi-html"
              },
              "version": "0.0.1"
            },
            {
              "package": {
                "ecosystem": "npm",
                "name": "ansi-html"
              },
              "version": "0.0.1"
            }
          ]
        }
      headers:
        Content-Type:
          - application/json
      url: https://api.osv.dev/v1/querybatch
      method: POST
    response:
      body: |
        {
          "results": [
            {
              "vulns": [
                {
                  "id": "GHSA-2g4f-4pwh-qvx6",
                  "modified": "2026-09-10T03:50:33.716487Z"
                },
                {
                  "id": "GHSA-v88g-cgmw-v5xw",
                  "modified": "2024-06-21T21:33:48Z"
                }
              ]
            },
            {
              "vulns": [
                {
                  "id": "GHSA-2g4f-4pwh-qvx6",
                  "modified": "2026-09-10T03:50:33.716487Z"
                },
                {
                  "id": "GHSA-v88g-cgmw-v5xw",
                  "modified": "2024[...]
