---
version: 2
interactions:
  - request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "GIT",
                "name": "https://github.com/libssh2/libssh2"
              },
              "version": "1.11.1"
            }
          ]
        }
      headers:
        Content-Type:
          - application/json
        X-Test-Name:
          - TestCommand_HomebrewWithAnnotators/homebrew_extractor_explicitly_enabled_with_annotator
      url: https://api.osv.dev/v1/querybatch
      method: POST
    response:
      body: |
        {
          "results": [
            {
              "vulns": [
                {
                  "id": "CVE-2025-15661",
                  "modified": "2026-08-08T14:00:28.590325Z"
                },
                {
                  "id": "CVE-2026-55199",
                  "modified": "2026-08-08T09:11:54.539295Z"
                },
                {
                  "id": "CVE-2026-55200",
                  "modified": "2026-08-07T21:55:15.477473Z"
                },
                {
                  "id": "CVE-2026-58050",
                  "modified": "2026-08-08T09:11:55.271616Z"
                },
                {
               [...]
[...]
