---
version: 2
interactions:
- id: 0
  request:
    host: api.osv.dev
    body: "{\"queries\":[{\"package\":{\"name\":\"sentry/sdk\",\"ecosystem\":\"Packagist\"},\"version\":\"2.0.4\"}]}"
    headers:
      Content-Type:
      - application/json
      X-Test-Name:
      - TestCommand_WithDetector_OnLinux/ssh_version_errors
    url: https://api.osv.dev/v1/querybatch
    method: POST
  response:
    body: "{\"results\":[{}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 0s
[...]
