---
version: 2
interactions:
  - id: 0
    request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "RubyGems",
                "name": "nokogiri"
              },
              "version": "1.18.9"
            },
            {
              "package": {
                "ecosystem": "npm",
                "name": "ajv"
              },
              "version": "6.0.0"
            },
            {
              "package": {
                "ecosystem": "npm",
                "name": "ajv"
              },
              "version": "8.0.0"
            },
            {
              "package": {
                "ecosystem": "npm",
                "name": "ansi-html"
              },
              "version": "0.0.1"
            },
            {
              "package": {
                "ecosystem": "npm",
                "name": "ajv"
              },
              "version": "6.0.0"
            },
            {
              "package": {
                "ecosystem": "npm",
                "name": "ajv"
              },
              "version": "8.0.0"
            },
            {
              "package": {
                "ecosystem": "npm",
                "name": "ansi-html"
              },
              "version": "0.0.1"
            },
            {
              "package": {
                "ecosystem": "npm",
                "name": "ansi-html"
              },
              "version": "0.0.1"
            }
          ]
        }
      headers:
        Content-Type:
          - application/json
        X-Test-Name:
          - TestCommand_UpdateConfigIgnores_All/deep
      url: https://api.osv.dev/v1/querybatch
      method: POST
    response:
      body: |
        {
          "results": [
            {
              "vulns": [
                {
                  "id": "GHSA-wx95-c6cv-8532",
                  "modified": "2026-02-18T22:11:44.575445Z"
                }
              ]
            },
            {
              "vulns": [
                {
                  "id": "GHSA-2g4f-4pwh-qvx6",
                  "modified": "2026-02-20T21:26:03.466898Z"
                },
                {
                  "id": "GHSA-v88g-cgmw-v5xw",
                  "modified": "2024-06-21T21:33:48Z"
                }
              ]
            },
            {
              "vulns": [
                {
             [...]
[...]
  - id: 8
    request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "RubyGems",
                "name": "nokogiri"
              },
              "version": "1.18.9"
            },
            {
              "package": {
                "ecosystem": "npm",
                "name": "ansi-html"
              },
              "version": "0.0.1"
            }
          ]
        }
      headers:
        Content-Type:
          - application/json
        X-Test-Name:
          - TestCommand_UpdateConfigIgnores_All/global_config_shallow
      url: https://api.osv.dev/v1/querybatch
      method: POST
    response:
      body: |
        {
          "results": [
            {
              "vulns": [
                {
                  "id": "GHSA-wx95-c6cv-8532",
                  "modified": "2026-02-18T22:11:44.575445Z"
                }
              ]
            },
            {
              "vulns": [
                {
                  "id": "GHSA-whgm-jr23-g3j9",
                  "modified": "2023-11-08T04:05:08.868477Z"
                }
              ]
            }
          ]
        }
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: 0s
[...]
