---
version: 2
interactions:
  - id: 0
    request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "RubyGems",
                "name": "ast"
              },
              "version": "2.4.2"
            },
            {
              "package": {
                "ecosystem": "npm",
                "name": "balanced-match"
              },
              "version": "1.0.2"
            }
          ]
        }
      headers:
        Content-Type:
          - application/json
        X-Test-Name:
          - TestCommand/.gitignored_files
      url: https://api.osv.dev/v1/querybatch
      method: POST
    response:
      body: |
        {
          "results": [
            {},
            {}
          ]
        }
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: 0s
[...]
  - id: 6
    request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "Go",
                "name": "stdlib"
              },
              "version": "1.21.7"
            }
          ]
        }
      headers:
        Content-Type:
          - application/json
        X-Test-Name:
          - TestCommand/Go_project_with_an_overridden_go_version
      url: https://api.osv.dev/v1/querybatch
      method: POST
    response:
      body: |
        {
          "results": [
            {
              "vulns": [
                {
                  "id": "GO-2024-2598",
                  "modified": "2024-10-22T05:29:10.013727Z"
                },
                {
                  "id": "GO-2024-2599",
                  "modified": "2024-10-22T05:29:04.026559Z"
                },
                {
                  "id": "GO-2024-2600",
                  "modified": "2024-10-22T05:29:00.945548Z"
                },
                {
                  "id": "GO-2024-2609",
                  "modified": "2024-10-22T05:29:09.769129Z"
                },
                {
                  "id[...]
[...]
  - id: 13
    request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "Packagist",
                "name": "league/flysystem"
              },
              "version": "1.0.8"
            },
            {
              "package": {
                "ecosystem": "Go",
                "name": "stdlib"
              },
              "version": "1.99.9"
            },
            {
              "package": {
                "ecosystem": "Go",
                "name": "toolchain"
              },
              "version": "1.99.9"
            },
            {
              "commit": "4579d5538f06c5ef615a15bc67ebb9ac0523a973"
            },
            {
              "commit": "9de7a0544457c6aba755ccb65abb41b0dc1db70d"
            },
            {
              "commit": "5d60bd2eb4642b64d00c845e5ca9f1ea41fd6db6"
            },
            {
              "package": {
                "ecosystem": "RubyGems",
                "name": "ast"
              },
              "version": "2.4.2"
            },
            {
              "package": {
                "ecosystem": "A[...]
[...]
