---
version: 2
interactions:
  - request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "Go",
                "name": "stdlib"
              },
              "version": "1.19"
            }
          ]
        }
      headers:
        Content-Type:
          - application/json
      url: https://api.osv.dev/v1/querybatch
      method: POST
    response:
      body: |
        {
          "results": [
            {
              "vulns": [
                {
                  "id": "GO-2022-0969",
                  "modified": "2026-02-04T02:41:02.475503Z"
                },
                {
                  "id": "GO-2022-0988",
                  "modified": "2026-07-15T14:29:32.822650Z"
                },
                {
                  "id": "GO-2022-1037",
                  "modified": "2026-07-15T14:29:32.954260Z"
                },
                {
                  "id": "GO-2022-1038",
                  "modified": "2026-07-15T16:30:47.292256Z"
                },
                {
                  "id[...]
