---
version: 2
interactions:
- id: 0
  request:
    host: api.osv.dev
    body: "{\"queries\":[{\"version\":\"2.0.4\", \"package\":{\"name\":\"sentry/sdk\", \"ecosystem\":\"Packagist\"}}]}"
    headers:
      Content-Type:
      - application/json
      X-Test-Name:
      - TestCommandNonGit/one_specific_supported_lockfile
    url: https://api.osv.dev/v1/querybatch
    method: POST
  response:
    body: "{\"results\":[{}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 0s
