---
version: 2
interactions:
  - request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "SwiftURL",
                "name": "github.com/apple/swift-nio-http2"
              },
              "version": "1.19.1"
            },
            {
              "package": {
                "ecosystem": "SwiftURL",
                "name": "github.com/pytorch/executorch"
              },
              "version": "0.6.0"
            }
          ]
        }
      headers:
        Content-Type:
          - application/json
        X-Test-Name:
          - TestCommand_MoreLockfiles/Package.resolved_-_SwiftURL_ecosystem_vulnerabilities_detected
      url: https://api.osv.dev/v1/querybatch
      method: POST
    response:
      body: |
        {
          "results": [
            {
              "vulns": [
                {
                  "id": "GHSA-4px2-pw77-vc85",
                  "modified": "2026-07-15T21:30:14.949923Z"
                },
                {
                  "id": "GHSA-ccw9-q5h2-8c2w",
                  "modified": "2026-07-08T06:29:25.820719Z"
                },
                {
                  "id": "GHSA-pgfx-g6rc-8cjv",
                  "modified": "2026-07-08T06:28:19.107048Z"
                },
                {
                  "id": "GHSA-q36x-r5x4-h4q6",
                  "modified": "2026-07-08T06:29:12.319445Z"
                },
                {
[...]
[...]
  - request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "NuGet",
                "name": "AWSSDK.Core"
              },
              "version": "3.7.10.6"
            },
            {
              "package": {
                "ecosystem": "NuGet",
                "name": "Microsoft.Extensions.DependencyInjection"
              },
              "version": "6.0.0"
            },
            {
              "package": {
                "ecosystem": "NuGet",
                "name": "System.Linq.Dynamic.Core"
              },
              "version": "1.3.7"
            },
            {
              "package": {
                "ecosystem": "NuGet",
                "name": "TestLibrary"
              },
              "version": "1.0.0"
            }
          ]
        }
      headers:
        Content-Type:
          - application/json
        X-Test-Name:
          - TestCommand_MoreLockfiles/depsjson
      url: https://api.osv.dev/v1/querybatch
      method: POST
    response:
      body: |
        {
          "results": [
            {},
            {},
            {
              "vulns": [
                {
                  "id": "GHSA-4cv2-4hjh-77rx",
                  "modified": "2025-01-27T19:00:52.634361Z"
                }
              ]
            },
            {}
          ]
        }
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: 0s
[...]
