---
version: 2
interactions:
- id: 0
  request:
    host: api.osv.dev
    body: "{\"queries\":[{\"package\":{\"ecosystem\":\"Maven\",\"name\":\"org.apache.logging.log4j:log4j-web\"},\"version\":\"2.14.1\"}]}"
    headers:
      Content-Type:
      - application/json
      X-Test-Name:
      - TestCommand_Transitive/does_not_scan_transitive_dependencies_for_pom.xml_with_no-resolve
    url: https://api.osv.dev/v1/querybatch
    method: POST
  response:
    body: "{\"results\":[{}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 0s
- id: 1
  request:
    host: api.osv.dev
    body: "{\"queries\":[{\"package\":{\"ecosystem\":\"PyPI\",\"name\":\"django\"},\"version\":\"1.11.29\"},{\"package\":{\"ecosystem\":\"PyPI\",\"name\":\"flask\"},\"version\":\"1.0.0\"},{\"package\":{\"ecosystem\":\"PyPI\",\"name\":\"requests\"},\"version\":\"2.20.0\"}]}"
    headers:
      Content-Type:
      - application/json
      X-Test-Name:
      - TestCommand_Transitive/does_not_scan_transitive_dependencies_for_requirements.txt_with_no-resolve
    url: https://api.osv.dev/v1/querybatch
    method: POST
  response:
    body: "{\"results\":[{\"vulns\":[{\"id\":\"GHSA-68w8-qjq3-2gfm\",\"modified\":\"2024-09-20T15:46:52.557962Z\"},{\"id\":\"GHSA-6w2r-r2m5-xq5w\",\"modified\":\"2025-11-05T20:52:11.756012Z\"},{\"id\":\"GHSA-7xr5-9hcq-chf9\",\"modified\":\"2025-09-25T09:27:02.969281Z\"},{\"id\":\"GHSA-8x94-hmjh-97hq\",\"modified\":\"2025-01-14T11:27:04.205746Z\"},{\"id\":\"GHSA-frmv-pr5f-9mcr\",\"modified\":\"2025-11-15T02:34:25.379484Z\"},{\"id\":\"GHSA-qw25-v68c-qjf3\",\"modified\":\"2025-11-11T15:28:46.308405Z\"},{\"id\":\"GHSA-rrqc-c2jx-6jgv\",\"modified\":\"2024-10-30T19:23:59.139649Z\"},{\"id\":\"PYSEC-2021-98\",\"modified\":\"2023-12-06T01:01:16.755410Z\"}]},{\"vulns\":[{\"id\":\"GHSA-m2qf-hxjv-5gpq\",\"modified\":\"2025-02-21T05:42:17.337040Z\"},{\"id\":\"PYSEC-2023-62\",\"modified\":\"2023-11-08T04:12:28.231927Z\"}]},{\"vulns\":[{\"id\":\"GHSA-9hjg-9r4m-mvj7\",\"modified\":\"2025-06-09T19:27:13.389930Z\"},{\"id\":\"GHSA-9wx4-h78v-vm56\",\"modified\":\"2024-07-15T22:12:27.987373Z\"},{\"id\":\"GHSA-j8r2-6x86-q33q\",\"modified\":\"2025-02-13T19:20:45.182158Z\"},{\"id\":\"PYSEC-2023-74\",\"modified\":\"2023-11-08T04:12:35.436175Z\"}]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 0s
[...]
