---
version: 2
interactions:
  - request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "GIT",
                "name": "https://github.com/libssh2/libssh2"
              },
              "version": "1.11.1"
            }
          ]
        }
      headers:
        Content-Type:
          - application/json
        X-Test-Name:
          - TestCommand_HomebrewWithAnnotators/homebrew_extractor_explicitly_enabled_with_annotator
      url: https://api.osv.dev/v1/querybatch
      method: POST
    response:
      body: |
        {
          "results": [
            {
              "vulns": [
                {
                  "id": "CVE-2025-15661",
                  "modified": "2026-08-27T18:26:11.051530Z"
                },
                {
                  "id": "CVE-2026-55199",
                  "modified": "2026-08-26T18:27:58.169272Z"
                },
                {
                  "id": "CVE-2026-55200",
                  "modified": "2026-08-12T16:09:46.614246Z"
                },
                {
                  "id": "CVE-2026-58050",
                  "modified": "2026-08-27T18:26:20.026291Z"
                },
                {
               [...]
[...]
