---
version: 2
interactions:
  - request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "RubyGems",
                "name": "async"
              },
              "version": "2.23.0"
            },
            {
              "package": {
                "ecosystem": "RubyGems",
                "name": "async-dns"
              },
              "version": "1.4.1"
            },
            {
              "package": {
                "ecosystem": "RubyGems",
                "name": "async-http"
              },
              "version": "0.87.0"
            },
            {
              "package": {
                [...]
