---
version: 2
interactions:
  - request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "npm",
                "name": "ansi-html"
              },
              "version": "0.0.8"
            },
            {
              "package": {
                "ecosystem": "RubyGems",
                "name": "ast"
              },
              "version": "2.4.2"
            },
            {
              "package": {
                "ecosystem": "npm",
                "name": "balanced-match"
              },
              "version": "1.0.2"
            },
            {
              "package": {
                "ecos[...]
