---
version: 2
interactions:
  - request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "npm",
                "name": "ansi-html"
              },
              "version": "0.0.1"
            },
            {
              "package": {
                "ecosystem": "RubyGems",
                "name": "nokogiri"
              },
              "version": "1.18.9"
            }
          ]
        }
      headers:
        Content-Type:
          - application/json
      url: https://api.osv.dev/v1/querybatch
      method: POST
    response:
      body: |
        {
          "results": [
            {
              "vulns": [
                {
                  "id": "GHSA-whgm-jr23-g3j9",
                  "modified": "2023-11-08T04:05:08.868477Z"
                }
              ]
            },
            {
              "vulns": [
                {
                  "id": "GHSA-5prr-v3j2-97mh",
                  "modified": "2026-09-10T03:51:07.875324Z"
                },
                {
                  "id": "GHSA-5v8h-3h3q-446p",
                  "modified": "2026-09-10T03:50:48.442454Z"
                },
                {
                  "id": "GHSA-8678-w3jw-xfc2",
                  "modified"[...]
