---
version: 2
interactions:
- id: 0
  request:
    host: api.osv.dev
    body: "{\"queries\":[{\"package\":{\"name\":\"alpine-baselayout\",\"ecosystem\":\"Alpine\"},\"version\":\"3.4.0-r0\"},{\"package\":{\"name\":\"alpine-baselayout-data\",\"ecosystem\":\"Alpine\"},\"version\":\"3.4.0-r0\"},{\"package\":{\"name\":\"alpine-keys\",\"ecosystem\":\"Alpine\"},\"version\":\"2.4-r1\"},{\"package\":{\"name\":\"apk-tools\",\"ecosystem\":\"Alpine\"},\"version\":\"2.12.10-r1\"},{\"package\":{\"name\":\"ast\",\"ecosystem\":\"RubyGems\"},\"version\":\"2.4.2\"},{\"package\":{\"name\":\"balanced-match\",\"ecosystem\":\"npm\"},\"version\":\"1.0.2\"},{\"package\":{\"name\":\"busybox-binsh\",\"ecosystem\":\"Alpine\"},\"version\":\"1.36.1-r27\"},{\"package\":{\"name\":\"ca-certificates-bundle\",\"ecosystem\":\"Alpine\"},\"version\":\"20220614-r4\"},{\"package\":{\"name\":\"libc-utils\",\"ecosystem\":\"Alpine\"},\"version\":\"0.7.2-r3\"},{\"package\":{\"name\":\"libcrypto3\",\"ecosystem\":\"Alpine\"},\"version\":\"3.0.8-r0\"},{\"package\":{\"name\":\"libssl3\",\"ecosystem\":\"Alpine\"},\"version\":\"3.0.8-r0\"},{\"package\":{\"name\":\"musl\",\"ecosystem\":\"Alpine\"},\"version\":\"1.2.3-r4\"},{\"package\":{\"name\":\"musl-utils\",\"ecosystem\":\"Alpine\"},\"version\":\"1.2.3-r4\"},{\"package\":{\"name\":\"scanelf\",\"ecosystem\":\"Alpine\"},\"version\":\"1.3.5-r1\"},{\"package\":{\"name\":\"sentry/sdk\",\"ecosystem\":\"Packagist\"},\"version\":\"2.0.4\"},{\"package\":{\"name\":\"ssl_client\",\"ecosystem\":\"Alpine\"},\"version\":\"1.36.1-r27\"},{\"package\":{\"name\":\"zlib\",\"ecosystem\":\"Alpine\"},\"version\":\"1.2.13-r0\"}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.osv.dev/v1/querybatch
    method: POST
  response:
    body: "{\"results\":[{},{},{},{},{},{},{},{},{},{},{},{\"vulns\":[{\"id\":\"CVE-2025-26519\",\"modified\":\"2025-08-05T20:57:02.403959Z\"}]},{},{},{},{},{}]}"
    headers:
      Content-Type:
      - application/json
      Grpc-Accept-Encoding:
      - identity, deflate, gzip
      Grpc-Message:
      - ""
      Grpc-Status:
      - "0"
      X-Cloud-Trace-Context:
      - ca477697f165771e0d2b7063b7027d5f/2605993389498065692
    status: 200 OK
    code: 200
    duration: 1.017461766s
- id: 1
  request:
    host: api.osv.dev
    headers:
    url: https://api.osv.dev/v1/vulns/CVE-2025-26519
    method: GET
  response:
    body: "{\"id\":\"CVE-2025-26519\",\"details\":\"musl libc 0.9.13 through 1.2.5 before 1.2.6 has an out-of-bounds write vulnerability when an attacker can trigger iconv conversion of untrusted EUC-KR text to UTF-8.\",\"modified\":\"2025-08-05T20:57:02.403959Z\",\"published\":\"2025-02-14T04:15:09Z\",\"references\":[{\"type\":\"WEB\",\"url\":\"https://git.musl-libc.org/cgit/musl/commit/?id=c47ad25ea3b484e10326f933e927c0bc8cded3da\"},{\"type\":\"WEB\",\"url\":\"https://git.musl-libc.org/cgit/musl/commit/?id=e5adcd97b5196e29991b524237381a0202a60659\"},{\"type\":\"WEB\",\"url\":\"https://www.openwall.com/lists/oss-security/2025/02/13/2\"},{\"type\":\"WEB\",\"url\":\"http://www.openwall.com/lists/oss-security/2025/02/13/2\"},{\"type\":\"WEB\",\"url\":\"http://www.openwall.com/lists/oss-security/2025/02/13/3\"},{\"type\":\"WEB\",\"url\":\"http://www.openwall.com/lists/oss-security/2025/02/13/4\"},{\"type\":\"WEB\",\"url\":\"http://www.openwall.com/lists/oss-security/2025/02/13/5\"},{\"type\":\"WEB\",\"url\":\"http://www.openwall.com/lists/oss-security/2025/02/14/5\"},{\"type\":\"WEB\",\"url\":\"http://www.openwall.com/lists/oss-security/2025/02/14/6\"},{\"type\":\"ADVISORY\",\"url\":\"https://security.alpinelinux.org/vuln/CVE-2025-26519\"},{\"type\":\"ADVISORY\",\"url\":\"https://security-tracker.debian.org/tracker/CVE-2025-26519\"}],\"affected\":[{\"package\":{\"name\":\"musl\",\"ecosystem\":\"Alpine:v3.16\",\"purl\":\"pkg:apk/alpine/musl?arch=source\"},\"ranges\":[{\"type\":\"ECOSYSTEM\",\"events\":[{\"introduced\":\"0\"},{\"fixed\":\"1.2.3-r4\"}]}],\"versions\":[\"0.9.10-r0\",\"0.9.11-r0\",\"0.9.11-r1\",\"0.9.11-r2\",\"0.9.11-r3\",\"0.9.11-r4\",\"0.9.12-r0\",\"0.9.13-r0\",\"0.9.13-r1\",\"0.9.14-r0\",\"0.9.14-r1\",\"0.9.14-r10\",\"0.9.14-r11\",\"0.9.14-r12\",\"0.9.14-r2\",\"0.9.14-r3\",\"0.9.14-r4\",\"0.9.14-r5\",\"0.9.14-r6\",\"0.9.14-r7\",\"0.9.14-r8\",\"0.9.14-r9\",\"0.9.15-r0\",\"0.9.15-r1\",\"0.9.15-r2\",\"0.9.15-r3\",\"0.9.15-r4\",\"1.0.0-r0\",\"1.0.0-r1\",\"1.0.0-r10\",\"1.0.0-r11\",\"1.0.0-r2\",\"1.0.0-r3\",\"1.0.0-r4\",\"1.0.0-r5\",\"1.0.0-r6\"[...]
