---
version: 2
interactions:
  - request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "crates.io",
                "name": "displaydoc"
              },
              "version": "0.2.5"
            },
            {
              "package": {
                "ecosystem": "crates.io",
                "name": "form_urlencoded"
              },
              "version": "1.2.2"
            },
            {
              "package": {
                "ecosystem": "crates.io",
                "name": "icu_collections"
              },
              "version": "2.1.1"
            },
            {
              "package": {
[...]
