---
version: 2
interactions:
  - request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "NuGet",
                "name": "Microsoft.CodeDom.Providers.DotNetCompilerPlatform"
              },
              "version": "1.0.0"
            },
            {
              "package": {
                "ecosystem": "NuGet",
                "name": "Microsoft.Net.Compilers"
              },
              "version": "1.0.0"
            }
          ]
        }
      headers:
        Content-Type:
          - application/json
      url: https://api.osv.dev/v1/querybatch
      method: POST
    response:
      body: |
        {
          "results": [
            {},
            {}
          ]
        }
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: 0s
