---
version: 2
interactions:
  - request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "Go",
                "name": "stdlib"
              },
              "version": "1.24.4"
            },
            {
              "package": {
                "ecosystem": "Go",
                "name": "toolchain"
              },
              "version": "1.24.4"
            }
          ]
        }
      headers:
        Content-Type:
          - application/json
      url: https://api.osv.dev/v1/querybatch
      method: POST
    response:
      body: |
        {
          "results": [
            {
              "vulns": [
                {
                  "id": "GO-2025-3849",
                  "modified": "2026-05-30T10:29:20.514342Z"
                },
                {
                  "id": "GO-2025-3956",
                  "modified": "2026-02-04T04:33:27.340869Z"
                },
                {
                  "id": "GO-2025-4006",
                  "modified": "2026-05-15T10:59:23.181284Z"
                },
                {
                  "id": "GO-2025-4007",
                  "modified": "2026-05-15T10:59:24.436863Z"
                },
                {
                  "id[...]
