---
version: 2
interactions:
  - id: 0
    request:
      host: api.osv.dev
      body: '{"queries":[{"package":{"ecosystem":"npm","name":"balanced-match"},"version":"1.0.2"}]}'
      headers:
        Content-Type:
          - application/json
        X-Test-Name:
          - TestCommand_LockfileWithExplicitParseAs/absolute_paths_are_automatically_escaped_on_windows
      url: https://api.osv.dev/v1/querybatch
      method: POST
    response:
      body: |
        {
          "results": [
            {}
          ]
        }
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: 0s
[...]
  - id: 3
    request:
      host: api.osv.dev
      body: '{"queries":[{"package":{"ecosystem":"npm","name":"has-flag"},"version":"4.0.0"},{"package":{"ecosystem":"npm","name":"wrappy"},"version":"1.0.2"},{"package":{"ecosystem":"Packagist","name":"league/flysystem"},"version":"1.0.8"},{"package":{"ecosystem":"npm","name":"ansi-html"},"version":"0.0.1"},{"package":{"ecosystem":"npm","name":"ansi-html"},"version":"0.0.1"},{"package":{"ecosystem":"Go","name":"stdlib"},"version":"1.99.9"},{"package":{"ecosystem":"Go","name":"toolchain"},"version":"1.99.9"}]}'
      headers:
        Content-Type:
          - application/json
        X-Test-Name:
          - TestCommand_LockfileWithExplicitParseAs/multiple,_+_output_order_is_deterministic
      url: https://api.osv.dev/v1/querybatch
      method: POST
    response:
      body: |
        {
          "results": [
            {},
            {},
            {
              "vulns": [
                {
                  "id": "GHSA-9f46-5r25-5wfm",
                  "modified": "2024-02-16T08:21:35.601880Z"
                }
              ]
            },
            {
              "vulns": [
                {
                  "id": "GHSA-whgm-jr23-g3j9",
                  "modified": "2023-11-08T04:05:08.868477Z"
                }
              ]
            },
            {
              "vulns": [
                {
                  "id": "GHSA-whgm-jr23-g3j9",
                  "modified": "2023-11-08T04:05:08.868477Z"
                }
              ]
            },
            {},
            {}
          ]
        }
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: 0s
[...]
