---
version: 2
interactions:
- id: 0
  request:
    host: api.osv.dev
    body: "{\"queries\":[{\"package\":{\"name\":\"ansi-html\",\"ecosystem\":\"npm\"},\"version\":\"0.0.1\"}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.osv.dev/v1/querybatch
    method: POST
  response:
    body: "{\"results\":[{\"vulns\":[{\"id\":\"GHSA-whgm-jr23-g3j9\",\"modified\":\"2023-11-08T04:05:08.868477Z\"}]}]}"
    headers:
      Content-Type:
      - application/json
      Grpc-Accept-Encoding:
      - identity, deflate, gzip
      Grpc-Message:
      - ""
      Grpc-Status:
      - "0"
      X-Cloud-Trace-Context:
      - a2d0d03aa9fe185b0d2b7063b70271ea/7014616803889660013;o=1
    status: 200 OK
    code: 200
    duration: 867.578392ms
