---
version: 2
interactions:
  - request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "npm",
                "name": "babel"
              },
              "version": "6.23.0"
            },
            {
              "package": {
                "ecosystem": "npm",
                "name": "human-signals"
              },
              "version": "5.0.0"
            },
            {
              "package": {
                "ecosystem": "npm",
                "name": "ms"
              },
              "version": "2.1.3"
            },
            {
              "package": {
                "ecosystem": "npm",
                "name": "type-fest"
              },
              "version": "4.26.1"
            }
          ]
        }
      headers:
        Content-Type:
          - application/json
      url: https://api.osv.dev/v1/querybatch
      method: POST
    response:
      body: |
        {
          "results": [
            {},
            {},
            {},
            {}
          ]
        }
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: 0s
