---
version: 2
interactions:
  - request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "SwiftURL",
                "name": "github.com/apple/swift-nio-http2"
              },
              "version": "1.19.1"
            },
            {
              "package": {
                "ecosystem": "SwiftURL",
                "name": "github.com/pytorch/executorch"
              },
              "version": "0.6.0"
            }
          ]
        }
      headers:
        Content-Type:
          - application/json
      url: https://api.osv.dev/v1/querybatch
      method: POST
    response:
      body: |
        {
          "results": [
            {
              "vulns": [
                {
                  "id": "GHSA-4px2-pw77-vc85",
                  "modified": "2026-06-12T15:15:20.821466Z"
                },
                {
                  "id": "GHSA-ccw9-q5h2-8c2w",
                  "modified": "2026-07-08T06:29:25.820719Z"
                },
                {
                  "id": "GHSA-pgfx-g6rc-8cjv",
                  "modified": "2026-07-08T06:28:19.107048Z"
                },
                {
                  "id": "GHSA-q36x-r5x4-h4q6",
                  "modified": "2026-07-08T06:29:12.319445Z"
                },
                {
[...]
