---
version: 2
interactions:
  - request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "PyPI",
                "name": "django"
              },
              "version": "1.11.29"
            },
            {
              "package": {
                "ecosystem": "PyPI",
                "name": "flask"
              },
              "version": "1.0.0"
            },
            {
              "package": {
                "ecosystem": "PyPI",
                "name": "requests"
              },
              "version": "2.20.0"
            },
            {
              "package": {
                "ecosystem":[...]
