---
version: 2
interactions:
- id: 0
  request:
    host: api.osv.dev
    body: "{\"queries\":[{\"package\":{\"name\":\"apk-tools\",\"ecosystem\":\"Alpine:v22.04\"},\"version\":\"2.12.10-r1\"}]}"
    headers:
      Content-Type:
      - application/json
      X-Test-Name:
      - TestCommand_LockfileWithExplicitParseAs/"apk-installed"_is_supported
    url: https://api.osv.dev/v1/querybatch
    method: POST
  response:
    body: "{\"results\":[{}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 0s
[...]
- id: 5
  request:
    host: api.osv.dev
    body: "{\"queries\":[{\"package\":{\"name\":\"ansi-html\",\"ecosystem\":\"npm\"},\"version\":\"0.0.1\"},{\"package\":{\"name\":\"ansi-html\",\"ecosystem\":\"npm\"},\"version\":\"0.0.1\"},{\"package\":{\"name\":\"has-flag\",\"ecosystem\":\"npm\"},\"version\":\"4.0.0\"},{\"package\":{\"name\":\"league/flysystem\",\"ecosystem\":\"Packagist\"},\"version\":\"1.0.8\"},{\"package\":{\"name\":\"stdlib\",\"ecosystem\":\"Go\"},\"version\":\"1.99.9\"},{\"package\":{\"name\":\"toolchain\",\"ecosystem\":\"Go\"},\"version\":\"1.99.9\"},{\"package\":{\"name\":\"wrappy\",\"ecosystem\":\"npm\"},\"version\":\"1.0.2\"}]}"
    headers:
      Content-Type:
      - application/json
      X-Test-Name:
      - TestCommand_LockfileWithExplicitParseAs/multiple,_+_output_order_is_deterministic
    url: https://api.osv.dev/v1/querybatch
    method: POST
  response:
    body: "{\"results\":[{\"vulns\":[{\"id\":\"GHSA-whgm-jr23-g3j9\",\"modified\":\"2023-11-08T04:05:08.868477Z\"}]},{\"vulns\":[{\"id\":\"GHSA-whgm-jr23-g3j9\",\"modified\":\"2023-11-08T04:05:08.868477Z\"}]},{},{\"vulns\":[{\"id\":\"GHSA-9f46-5r25-5wfm\",\"modified\":\"2024-02-16T08:21:35.601880Z\"}]},{},{},{}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 0s
[...]
