---
version: 2
interactions:
  - request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "RubyGems",
                "name": "ast"
              },
              "version": "2.4.2"
            },
            {
              "package": {
                "ecosystem": "npm",
                "name": "balanced-match"
              },
              "version": "1.0.2"
            }
          ]
        }
      headers:
        Content-Type:
          - application/json
        X-Test-Name:
          - TestCommand/.gitignored_files
      url: https://api.osv.dev/v1/querybatch
      method: POST
    response:
      body: |
        {
          "results": [
            {},
            {}
          ]
        }
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: 0s
[...]
  - request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "Go",
                "name": "stdlib"
              },
              "version": "1.19"
            }
          ]
        }
      headers:
        Content-Type:
          - application/json
        X-Test-Name:
          - TestCommand/Go_project_with_an_overridden_go_version
      url: https://api.osv.dev/v1/querybatch
      method: POST
    response:
      body: |
        {
          "results": [
            {
              "vulns": [
                {
                  "id": "GO-2022-0969",
                  "modified": "2026-02-04T02:41:02.475503Z"
                },
                {
                  "id": "GO-2022-0988",
                  "modified": "2026-07-15T14:29:32.822650Z"
                },
                {
                  "id": "GO-2022-1037",
                  "modified": "2026-07-15T14:29:32.954260Z"
                },
                {
                  "id": "GO-2022-1038",
                  "modified": "2026-07-15T16:30:47.292256Z"
                },
                {
                  "id[...]
[...]
