---
version: 2
interactions:
  - request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "RubyGems",
                "name": "ast"
              },
              "version": "2.4.2"
            },
            {
              "package": {
                "ecosystem": "npm",
                "name": "balanced-match"
              },
              "version": "1.0.2"
            }
          ]
        }
      headers:
        Content-Type:
          - application/json
        X-Test-Name:
          - TestCommand/.gitignored_files
      url: https://api.osv.dev/v1/querybatch
      method: POST
    response:
      body: |
        {
          "results": [
            {},
            {}
          ]
        }
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: 0s
[...]
  - request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "npm",
                "name": "ansi-html"
              },
              "version": "0.0.1"
            }
          ]
        }
      headers:
        Content-Type:
          - application/json
        X-Test-Name:
          - TestCommand/Sarif_with_vulns
      url: https://api.osv.dev/v1/querybatch
      method: POST
    response:
      body: |
        {
          "results": [
            {
              "vulns": [
                {
                  "id": "GHSA-whgm-jr23-g3j9",
                  "modified": "2023-11-08T04:05:08.868477Z"
                }
              ]
            }
          ]
        }
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: 0s
[...]
  - request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "Packagist",
                "name": "league/flysystem"
              },
              "version": "1.0.8"
            },
            {
              "package": {
                "ecosystem": "Go",
                "name": "stdlib"
              },
              "version": "1.99.9"
            },
            {
              "package": {
                "ecosystem": "Go",
                "name": "toolchain"
              },
              "version": "1.99.9"
            },
            {
              "commit": "4579d5538f06c5ef615a15bc67ebb9ac0523a973"
            },
            {
              "commit": "6fc3b89fcdb89b593402e0dabc13a7d7fd3f762d"
            },
            {
              "commit": "5d60bd2eb4642b64d00c845e5ca9f1ea41fd6db6"
            },
            {
              "package": {
                "ecosystem": "RubyGems",
                "name": "ast"
              },
              "version": "2.4.2"
            },
            {
              "package": {
                "ecosystem": "A[...]
[...]
