---
version: 2
interactions:
  - request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "Maven",
                "name": "junit:junit"
              },
              "version": "4.12"
            },
            {
              "package": {
                "ecosystem": "Maven",
                "name": "org.hamcrest:hamcrest-core"
              },
              "version": "1.3"
            }
          ]
        }
      headers:
        Content-Type:
          - application/json
      url: https://api.osv.dev/v1/querybatch
      method: POST
    response:
      body: |
        {
          "results": [
            {
              "vulns": [
                {
                  "id": "GHSA-269g-pwp5-87pp",
                  "modified": "2026-07-08T06:27:00.690079Z"
                }
              ]
            },
            {}
          ]
        }
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: 0s
