---
version: 2
interactions:
  - id: 0
    request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "Maven",
                "name": "com.amazonaws:aws-java-sdk-core"
              },
              "version": "1.11.327"
            },
            {
              "package": {
                "ecosystem": "Maven",
                "name": "com.amazonaws:aws-java-sdk-kms"
              },
              "version": "1.11.327"
            },
            {
              "package": {
                "ecosystem": "Maven",
                "name": "com.amazonaws:aws-java-sdk-s3"
              },
              "version": "1.11.327"
     [...]
[...]
