---
version: 2
interactions:
  - request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "Alpine:v3.17",
                "name": "alpine-baselayout"
              },
              "version": "3.4.0-r0"
            },
            {
              "package": {
                "ecosystem": "Alpine:v3.17",
                "name": "alpine-baselayout-data"
              },
              "version": "3.4.0-r0"
            },
            {
              "package": {
                "ecosystem": "Alpine:v3.17",
                "name": "apk-tools"
              },
              "version": "2.12.10-r1"
            },
            {
              "package": {
                "ecosystem": "Alpine:v3.17",
                "name": "busybox-binsh"
              },
              "version": "1.36.1-r27"
            },
            {
              "package": {
                "ecosystem": "Alpine:v3.17",
                "name": "libcrypto3"
              },
              "version": "3.0.8-r0"
            },
            {
              "package": {
                "ecosystem": "Alpine:v3.17",
                "name": "libssl3"
              },
              "version": "3.0.8-r0"
            },
            {
              "package": {
                "ecosystem": "Alpine:v3.17",
                "name": "musl-utils"
              },
              "version": "1.2.3-r4"
            },
            {
              "package": {
                "ecosystem": "Alpine:v3.17",
                "name": "scanelf"
              },
              "version": "1.3.5-r1"
            }
          ]
        }
      headers:
        Content-Type:
          - application/json
      url: https://api.osv.dev/v1/querybatch
      method: POST
    response:
      body: |
        {
          "results": [
            {},
            {},
            {},
            {},
            {},
            {},
            {},
            {}
          ]
        }
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: 0s
