---
version: 2
interactions:
- id: 0
  request:
    host: api.osv.dev
    body: "{\"queries\":[{\"commit\":\"4579d5538f06c5ef615a15bc67ebb9ac0523a973\",\"package\":{}},{\"commit\":\"9de7a0544457c6aba755ccb65abb41b0dc1db70d\",\"package\":{}},{\"commit\":\"5d60bd2eb4642b64d00c845e5ca9f1ea41fd6db6\",\"package\":{}}]}"
    headers:
      Content-Type:
      - application/json
      X-Test-Name:
      - TestCommand_GithubActions/scanning_osv-scanner_custom_format
    url: https://api.osv.dev/v1/querybatch
    method: POST
  response:
    body: "{\"results\":[{},{\"vulns\":[{\"id\":\"CVE-2023-39137\",\"modified\":\"2025-09-24T12:09:45.171149Z\"},{\"id\":\"CVE-2023-39139\",\"modified\":\"2025-09-24T12:09:44.618007Z\"}]},{}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 0s
[...]
