---
version: 2
interactions:
- id: 0
  request:
    host: api.osv.dev
    body: "{\"queries\":[{\"package\":{\"name\":\"alpine-baselayout\",\"ecosystem\":\"Alpine\"},\"version\":\"3.4.0-r0\"},{\"package\":{\"name\":\"alpine-baselayout-data\",\"ecosystem\":\"Alpine\"},\"version\":\"3.4.0-r0\"},{\"package\":{\"name\":\"alpine-keys\",\"ecosystem\":\"Alpine\"},\"version\":\"2.4-r1\"},{\"package\":{\"name\":\"apk-tools\",\"ecosystem\":\"Alpine\"},\"version\":\"2.12.10-r1\"},{\"package\":{\"name\":\"ast\",\"ecosystem\":\"RubyGems\"},\"version\":\"2.4.2\"},{\"package\":{\"name\":\"balanced-match\",\"ecosystem\":\"npm\"},\"version\":\"1.0.2\"},{\"package\":{\"name\":\"busybox-binsh\",\"ecosystem\":\"Alpine\"},\"version\":\"1.36.1-r27\"},{\"package\":{\"name\":\"ca-certificates-bundle\",\"ecosystem\":\"Alpine\"},\"version\":\"20220614-r4\"},{\"package\":{\"name\":\"libc-utils\",\"ecosystem\":\"Alpine\"},\"version\":\"0.7.2-r3\"},{\"package\":{\"name\":\"libcrypto3\",\"ecosystem\":\"Alpine\"},\"version\":\"3.0.8-r0\"},{\"package\":{\"name\":\"libssl3\",\"ecosystem\":\"Alpine\"},\"version\":\"3.0.8-r0\"},{\"package\":{\"name\":\"musl\",\"ecosystem\":\"Alpine\"},\"version\":\"1.2.3-r4\"},{\"package\":{\"name\":\"musl-utils\",\"ecosystem\":\"Alpine\"},\"version\":\"1.2.3-r4\"},{\"package\":{\"name\":\"scanelf\",\"ecosystem\":\"Alpine\"},\"version\":\"1.3.5-r1\"},{\"package\":{\"name\":\"sentry/sdk\",\"ecosystem\":\"Packagist\"},\"version\":\"2.0.4\"},{\"package\":{\"name\":\"ssl_client\",\"ecosystem\":\"Alpine\"},\"version\":\"1.36.1-r27\"},{\"package\":{\"name\":\"zlib\",\"ecosystem\":\"Alpine\"},\"version\":\"1.2.13-r0\"}]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.osv.dev/v1/querybatch
    method: POST
  response:
    body: "{\"results\":[{},{},{},{},{},{},{},{},{},{},{},{\"vulns\":[{\"id\":\"CVE-2025-26519\",\"modified\":\"2025-08-05T20:57:02.403959Z\"}]},{},{},{},{},{}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.017461766s
