---
version: 2
interactions:
  - request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "RubyGems",
                "name": "mini_portile2"
              },
              "version": "2.8.9"
            },
            {
              "package": {
                "ecosystem": "RubyGems",
                "name": "nokogiri"
              },
              "version": "1.19.3"
            },
            {
              "package": {
                "ecosystem": "RubyGems",
                "name": "nokogiri"
              },
              "version": "1.19.3"
            },
            {
              "package": {
           [...]
