---
version: 2
interactions:
  - request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "GIT",
                "name": "git://github.com/boostorg/boost"
              },
              "version": "boost-1.67.0"
            },
            {
              "package": {
                "ecosystem": "GIT",
                "name": "github.com/boostorg/boost"
              },
              "version": "boost-1.67.0"
            },
            {
              "package": {
                "ecosystem": "GIT",
                "name": "http://github.com/boostorg/boost"
              },
              "version": "boost-1.67.0"
            },
            {
              "package": {
                "ecosystem": "GIT",
                "name": "https://github.com/Exiv2/exiv2"
              },
              "version": "v0.28.0"
            },
            {
              "package": {
                "ecosystem": "GIT",
                "name": "https://github.com/apache/orc"
              },
              "version": "v3.19.0"
            },
            {
              "package": {
                "ecosystem": "GIT",
                "name": "https://github.com/boostorg/boost"
              },
              "version": "boost-1.67.0"
            },
            {
              "package": {
                "ecosystem": "GIT",
                "name": "https://github.com/capricorn86/happy-dom.git"
              },
              "version": "v11.1.0"
            },
            {
              "commit": "45fda76bc1b9fd74d10e85e0ce9b65a12dcc58b0"
            },
            {
              "package": {
                "ecosystem": "GIT",
                "name": "https://github.com/openssl/openssl"
              },
              "version": "openssl-3.5.0"
            },
            {
              "package": {
                "ecosystem": "GIT",
                "name": "https://github.com/sfackler-fork/rust-openssl"
              },
              "version": "openssl-v0.10.23"
            },
            {
              "package": {
                "ecosystem": "GIT",
                "name": "https://github.com/sfackler/rust-openssl"
              },
              "version": "openssl-v0.8.1"
            }
          ]
        }
      headers:
        Content-Type:
          - application/json
        X-Test-Name:
          - TestCommand_CommitSupport/online_uses_git_commits
      url: https://api.osv.dev/v1/querybatch
      method: POST
    response:
      body: |
        {
          "results": [
            {
              "vulns": [
                {
                  "id": "OSV-2018-389",
                  "modified": "2022-04-13T03:04:40.912286Z"
                }
              ]
            },
            {
              "vulns": [
                {
                  "id": "OSV-2018-389",
                  "modified": "2022-04-13T03:04:40.912286Z"
                }
              ]
            },
            {
              "vulns": [
                {
                  "id": "OSV-2018-389",
                  "modified": "2022-04-13T03:04:40.912286Z"
                }
              ]
            },
        [...]
