---
version: 2
interactions:
  - request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "package": {
                "ecosystem": "PyPI",
                "name": "flask"
              },
              "version": "1.0.0"
            },
            {
              "package": {
                "ecosystem": "PyPI",
                "name": "flask-cors"
              },
              "version": "1.0.0"
            },
            {
              "package": {
                "ecosystem": "PyPI",
                "name": "pandas"
              },
              "version": "0.23.4"
            }
          ]
        }
      headers:
        Content-Type:
          - application/json
      url: https://api.osv.dev/v1/querybatch
      method: POST
    response:
      body: |
        {
          "results": [
            {
              "vulns": [
                {
                  "id": "GHSA-68rp-wp8r-4726",
                  "modified": "2026-07-13T07:26:21.445447Z"
                },
                {
                  "id": "GHSA-m2qf-hxjv-5gpq",
                  "modified": "2025-02-21T05:42:17.337040Z"
                },
                {
                  "id": "PYSEC-2023-62",
                  "modified": "2023-11-08T04:12:28.231927Z"
                },
                {
                  "id": "PYSEC-2026-2151",
                  "modified": "2026-07-13T07:15:25.033843Z"
                }
              ]
            }[...]
