---
version: 2
interactions:
  - request:
      host: api.osv.dev
      body: |
        {
          "queries": [
            {
              "commit": "1a9dda41fbfb0dfbec17ab6afeba8138265395f7"
            },
            {
              "commit": "1a9dda41fbfb0dfbec17ab6afeba8138265395f7"
            },
            {
              "commit": "1a9dda41fbfb0dfbec17ab6afeba8138265395f7"
            },
            {
              "commit": "931a40a746f5678dcc4625b06a2eb25fa4f00b34"
            },
            {
              "commit": "17b30e96476be70b8773b2b807bab857fd3ceb39"
            },
            {
              "commit": "1a9dda41fbfb0dfbec17ab6afeba8138265395f7"
            },
            {
              "commit": "f82211036f434593c69b8e3680ea65203a46d315"
            },
            {
              "commit": "45fda76bc1b9fd74d10e85e0ce9b65a12dcc58b0"
            },
            {
              "commit": "aea7aaf2abb04789f5868cbabec406ea43aa84bf"
            },
            {
              "commit": "3b064fdb022912bbb98f5b8d9d111aeb6fec8f79"
            },
            {
              "commit": "0f428d190410263e4daa65b917c0e84707a9c0ef"
            }
          ]
        }
      headers:
        Content-Type:
          - application/json
        X-Test-Name:
          - TestCommand_CommitSupport/online_uses_git_commits
      url: https://api.osv.dev/v1/querybatch
      method: POST
    response:
      body: |
        {
          "results": [
            {
              "vulns": [
                {
                  "id": "OSV-2018-389",
                  "modified": "2022-04-13T03:04:40.912286Z"
                }
              ]
            },
            {
              "vulns": [
                {
                  "id": "OSV-2018-389",
                  "modified": "2022-04-13T03:04:40.912286Z"
                }
              ]
            },
            {
              "vulns": [
                {
                  "id": "OSV-2018-389",
                  "modified": "2022-04-13T03:04:40.912286Z"
                }
              ]
            },
        [...]
