name: Cassettes

on:
  schedule:
    - cron: "47 20 * * *"
  workflow_dispatch:
concurrency:
  # Pushing new changes to a branch will cancel any in-progress CI runs
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# Restrict jobs in this workflow to have no permissions by default; permissions
# should be granted per job as needed using a dedicated `permissions` block
permissions: {}

jobs:
  update:
    permissions:
      contents: write # to fetch and commit code
      actions: write # to manually dispatch checks on the pull request
      pull-requests: write # Create pull requests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          persist-credentials: false
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: "go.mod"
          check-latest: true
      - run: ./scripts/run_tests.sh || true
        env:
          TEST_ACCEPTANCE: true
          TEST_VCR_MODE: recordonly
          UPDATE_SNAPS: always
      - uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          token: ${{ secrets.PR_TOKEN_BOT }}
          title: "test: update cassettes"
          body: >
            The cassettes have changed, probably due to OSV advisories being changed.

            Please review the differences to make sure that they're expected!
          branch: "bot/update-cassettes"
          author: "osv-robot <osv-robot@google.com>"
          commit-message: "test: update cassettes"
