name: Check markdown links on schedule

on: 
  schedule:
    - cron: '45 22 * * *'
permissions:  # added using https://github.com/step-security/secure-repo
  contents: read
jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: gaurav-nelson/github-action-markdown-link-check@v1
      with:
        use-quiet-mode: "yes"
# Documentation available here: https://github.com/marketplace/actions/markdown-link-check