name: Check links on push

on: push
permissions:  # added using https://github.com/step-security/secure-repo
  contents: read
jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: gaurav-nelson/github-action-markdown-link-check@322b2315689b8cc8c65c14a07064ec862e62ee7c
      with:
        use-quiet-mode: "yes"
        base-branch: "main"
        check-modified-files-only: "yes"
# Documentation available here: https://github.com/marketplace/actions/markdown-link-check
