name: Check markdown links on schedule

on:
  schedule:
    - cron: "45 22 * * 1,4"
permissions: # added using https://github.com/step-security/secure-repo
  contents: read
jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - uses: gaurav-nelson/github-action-markdown-link-check@25b2c436c653f0d4500d3c2df86e5c14e71e44e1
        with:
          use-quiet-mode: "yes"
# Documentation available here: https://github.com/marketplace/actions/markdown-link-check
