name: Semantic

on:
  schedule:
    - cron: "0 0 * * SUN"
  workflow_dispatch:
    inputs:
      filterResults:
        description: "What comparator results the generators should print"
        required: false
        default: "failures"
        type: choice
        options:
          - all
          - failures
          - successes
  pull_request:
    paths:
      - ".github/workflows/semantic.yml"
      - "scripts/generators/**"

# Restrict jobs in this workflow to have no permissions by default; permissions
# should be granted per job as needed using a dedicated `permissions` block
permissions: {}

env:
  VERSION_GENERATOR_PRINT: ${{ inputs.filterResults }}

jobs:
  generate-debian-versions:
    permissions:
      contents: read # to fetch code (actions/checkout)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: actions/cache/restore@0c907a75c2c80ebcb7f088228285e798b750cf8f # v4.2.1
        with:
          path: /tmp/debian-versions-generator-cache.csv
          key: ${{ runner.os }}-

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38 # v5.4.0
        with:
          python-version: "3.10"
      - run: dpkg --version
      - run: python3 scripts/generators/generate-debian-versions.py
      - run: git status
      - run: stat debian-db.zip
      - uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1 # v4.6.1
        with:
          name: generated-debian-versions
          path: internal/semantic/fixtures/debian-versions-generated.txt

      - uses: actions/cache/save@0c907a75c2c80ebcb7f088228285e798b750cf8f # v4.2.1
        with:
          path: /tmp/debian-versions-generator-cache.csv
          key: ${{ runner.os }}-${{ hashFiles('debian-db.zip') }}

  generate-redhat-versions:
    permissions:
      contents: read # to fetch code (actions/checkout)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: actions/cache/restore@0c907a75c2c80ebcb7f088228285e798b750cf8f # v4.2.1
        with:
          path: /tmp/redhat-versions-generator-cache.csv
          key: ${{ runner.os }}-

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38 # v5.4.0
        with:
          python-version: "3.10"
      - run: sudo apt install rpm
      - run: rpm --version
      - run: python3 scripts/generators/generate-redhat-versions.py
      - run: git status
      - run: stat redhat-db.zip
      - uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1 # v4.6.1
        with:
          name: generated-redhat-versions
          path: internal/semantic/fixtures/redhat-versions-generated.txt

      - uses: actions/cache/save@0c907a75c2c80ebcb7f088228285e798b750cf8f # v4.2.1
        with:
          path: /tmp/redhat-versions-generator-cache.csv
          key: ${{ runner.os }}-${{ hashFiles('redhat-db.zip') }}

  generate-packagist-versions:
    permissions:
      contents: read # to fetch code (actions/checkout)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: shivammathur/setup-php@9e72090525849c5e82e596468b86eb55e9cc5401 # 2.32.0
        with:
          php-version: "8.2"
          extensions: zip
      - run: php scripts/generators/generate-packagist-versions.php
      - run: git status
      - uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1 # v4.6.1
        with:
          name: generated-packagist-versions
          path: internal/semantic/fixtures/packagist-versions-generated.txt

  generate-pypi-versions:
    permissions:
      contents: read # to fetch code (actions/checkout)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38 # v5.4.0
        with:
          python-version: "3.10"
      - name: setup dependencies
        run: pip install packaging==21.3
      - run: python3 scripts/generators/generate-pypi-versions.py
      - run: git status
      - uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1 # v4.6.1
        with:
          name: generated-pypi-versions
          path: internal/semantic/fixtures/pypi-versions-generated.txt

  generate-rubygems-versions:
    permissions:
      contents: read # to fetch code (actions/checkout)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: ruby/setup-ruby@32110d4e311bd8996b2a82bf2a43b714ccc91777 # v1.221.0
        with:
          ruby-version: "3.1"
      - name: setup dependencies
        run: gem install rubyzip
      - run: ruby scripts/generators/generate-rubygems-versions.rb
      - run: git status
      - uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1 # v4.6.1
        with:
          name: generated-rubygems-versions
          path: internal/semantic/fixtures/rubygems-versions-generated.txt

  generate-maven-versions:
    permissions:
      contents: read # to fetch code (actions/checkout)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: actions/setup-java@3a4f6e1af504cf6a31855fa899c6aa5355ba6c12 # v4.7.0
        with:
          java-version: 17
          distribution: oracle
      - name: setup dependencies
        run: |
          mkdir -p scripts/generators/lib
          curl https://repo1.maven.org/maven2/org/json/json/20220924/json-20220924.jar \
            -o scripts/generators/lib/json-20220924.jar
          curl https://repo1.maven.org/maven2/org/apache/maven/maven-artifact/3.8.5/maven-artifact-3.8.5.jar \
            -o scripts/generators/lib/maven-artifact-3.8.5.jar
      - run: java -cp 'scripts/generators/lib/*' scripts/generators/GenerateMavenVersions.java
      - run: git status
      - uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1 # v4.6.1
        with:
          name: generated-maven-versions
          path: internal/semantic/fixtures/maven-versions-generated.txt

  generate-cran-versions:
    permissions:
      contents: read # to fetch code (actions/checkout)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: r-lib/actions/setup-r@14a7e741c1cb130261263aa1593718ba42cf443b # v2.11.2
        with:
          r-version: "3.5.3"
      - run: Rscript scripts/generators/generate-cran-versions.R
      - run: git status
      - uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1 # v4.6.1
        with:
          name: generated-cran-versions
          path: internal/semantic/fixtures/cran-versions-generated.txt

  test-semantic:
    permissions:
      contents: read # to fetch code (actions/checkout)
    runs-on: ubuntu-latest
    needs:
      - generate-debian-versions
      - generate-packagist-versions
      - generate-pypi-versions
      - generate-rubygems-versions
      - generate-maven-versions
      - generate-cran-versions
      - generate-redhat-versions
    if: always()
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34 # v5.3.0
        with:
          go-version: stable
          cache: true

      - uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
          pattern: generated-*-versions
          path: internal/semantic/fixtures/
          merge-multiple: true
      - run: git status
      - run: scripts/run_tests.sh
