name: Semantic

on:
  schedule:
    - cron: "0 0 * * SUN"
  workflow_dispatch:
    inputs:
      filterResults:
        description: "What comparator results the generators should print"
        required: false
        default: "failures"
        type: choice
        options:
          - all
          - failures
          - successes
  pull_request:
    paths:
      - ".github/workflows/semantic.yml"
      - "scripts/generators/**"

# Restrict jobs in this workflow to have no permissions by default; permissions
# should be granted per job as needed using a dedicated `permissions` block
permissions: {}

env:
  VERSION_GENERATOR_PRINT: ${{ inputs.filterResults }}

jobs:
  generate-debian-versions:
    permissions:
      contents: read # to fetch code (actions/checkout)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: actions/cache/restore@6849a6489940f00c2f30c0fb92c6274307ccb58a # v4.1.2
        with:
          path: /tmp/debian-versions-generator-cache.csv
          key: ${{ runner.os }}-

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b # v5.3.0
        with:
          python-version: "3.10"
      - run: dpkg --version
      - run: python3 scripts/generators/generate-debian-versions.py
      - run: git status
      - run: stat debian-db.zip
      - uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        with:
          name: generated-debian-versions
          path: internal/semantic/fixtures/debian-versions-generated.txt

      - uses: actions/cache/save@6849a6489940f00c2f30c0fb92c6274307ccb58a # v4.1.2
        with:
          path: /tmp/debian-versions-generator-cache.csv
          key: ${{ runner.os }}-${{ hashFiles('debian-db.zip') }}

  generate-redhat-versions:
    permissions:
      contents: read # to fetch code (actions/checkout)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1

      - uses: actions/cache/restore@3624ceb22c1c5a301c8db4169662070a689d9ea8 # v4.1.1
        with:
          path: /tmp/redhat-versions-generator-cache.csv
          key: ${{ runner.os }}-

      - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
        with:
          persist-credentials: false
      - uses: actions/setup-python@f677139bbe7f9c59b41e40162b753c062f5d49a3 # v5.2.0
        with:
          python-version: "3.10"
      - run: sudo apt install rpm
      - run: rpm --version
      - run: python3 scripts/generators/generate-redhat-versions.py
      - run: git status
      - run: stat redhat-db.zip
      - uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        with:
          name: generated-redhat-versions
          path: internal/semantic/fixtures/redhat-versions-generated.txt

      - uses: actions/cache/save@3624ceb22c1c5a301c8db4169662070a689d9ea8 # v4.1.1
        with:
          path: /tmp/redhat-versions-generator-cache.csv
          key: ${{ runner.os }}-${{ hashFiles('redhat-db.zip') }}

  generate-packagist-versions:
    permissions:
      contents: read # to fetch code (actions/checkout)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: shivammathur/setup-php@c541c155eee45413f5b09a52248675b1a2575231 # 2.31.1
        with:
          php-version: "8.2"
          extensions: zip
      - run: php scripts/generators/generate-packagist-versions.php
      - run: git status
      - uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        with:
          name: generated-packagist-versions
          path: internal/semantic/fixtures/packagist-versions-generated.txt

  generate-pypi-versions:
    permissions:
      contents: read # to fetch code (actions/checkout)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b # v5.3.0
        with:
          python-version: "3.10"
      - name: setup dependencies
        run: pip install packaging==21.3
      - run: python3 scripts/generators/generate-pypi-versions.py
      - run: git status
      - uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        with:
          name: generated-pypi-versions
          path: internal/semantic/fixtures/pypi-versions-generated.txt

  generate-rubygems-versions:
    permissions:
      contents: read # to fetch code (actions/checkout)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: ruby/setup-ruby@a2bbe5b1b236842c1cb7dd11e8e3b51e0a616acc # v1.202.0
        with:
          ruby-version: "3.1"
      - name: setup dependencies
        run: gem install rubyzip
      - run: ruby scripts/generators/generate-rubygems-versions.rb
      - run: git status
      - uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        with:
          name: generated-rubygems-versions
          path: internal/semantic/fixtures/rubygems-versions-generated.txt

  generate-maven-versions:
    permissions:
      contents: read # to fetch code (actions/checkout)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: actions/setup-java@8df1039502a15bceb9433410b1a100fbe190c53b # v4.5.0
        with:
          java-version: 17
          distribution: oracle
      - name: setup dependencies
        run: |
          mkdir -p scripts/generators/lib
          curl https://repo1.maven.org/maven2/org/json/json/20220924/json-20220924.jar \
            -o scripts/generators/lib/json-20220924.jar
          curl https://repo1.maven.org/maven2/org/apache/maven/maven-artifact/3.8.5/maven-artifact-3.8.5.jar \
            -o scripts/generators/lib/maven-artifact-3.8.5.jar
      - run: java -cp 'scripts/generators/lib/*' scripts/generators/GenerateMavenVersions.java
      - run: git status
      - uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        with:
          name: generated-maven-versions
          path: internal/semantic/fixtures/maven-versions-generated.txt

  generate-cran-versions:
    permissions:
      contents: read # to fetch code (actions/checkout)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: r-lib/actions/setup-r@e8c60692f29164895fbcdbebf2fde501a1f7e07f # v2.11.0
        with:
          r-version: "3.5.3"
      - run: Rscript scripts/generators/generate-cran-versions.R
      - run: git status
      - uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        with:
          name: generated-cran-versions
          path: internal/semantic/fixtures/cran-versions-generated.txt

  test-semantic:
    permissions:
      contents: read # to fetch code (actions/checkout)
    runs-on: ubuntu-latest
    needs:
      - generate-debian-versions
      - generate-packagist-versions
      - generate-pypi-versions
      - generate-rubygems-versions
      - generate-maven-versions
      - generate-cran-versions
      - generate-redhat-versions
    if: always()
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: actions/setup-go@41dfa10bad2bb2ae585af6ee5bb4d7d973ad74ed # v5.1.0
        with:
          go-version: stable
          cache: true

      - uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
          pattern: generated-*-versions
          path: internal/semantic/fixtures/
          merge-multiple: true
      - run: git status
      - run: scripts/run_tests.sh
